#form-add-piece .form-group {
  margin-bottom: 20px;
}
#form-add-piece .btn-submit {
  padding: 6px 20px;
}
.panel .panel-footer ul {
  padding-left: 20px;
  margin-bottom: 0;
}
.panel .panel-footer ul li {
  padding-bottom: 5px;
}
.panel .panel-footer ul li:last-child {
  padding-bottom: 0;
}
