#form-add-piece {
  label[for='original'] {
    margin-bottom: 0px;
  }

  #original {
    margin-left: 5px;
  }
}

.source-help {
  color: #aaa;
  margin-left: 3px;
  cursor: pointer;

  &:hover {
    color: #999;
  }
}

.popover-content {
  font-size: 12px;
}

.panel .panel-footer {
  ul {
    padding-left: 20px;
    margin-bottom: 0;

    li {
      padding-bottom: 5px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.source-url-wap {
  position: relative;

  .source-favicon {
    display: none;
    border: none;
    border-style: none;
    position: absolute;
    right: 10px;
    bottom: 9px;
    width: 16px;
    height: 16px;
  }
}
