#form-add-piece #original {
  margin-left: 5px;
}
.source-help {
  color: #aaa;
  margin-left: 3px;
  cursor: pointer;
}
.source-help:hover {
  color: #999;
}
.popover-content {
  font-size: 12px;
}
.panel .panel-footer ul {
  padding-left: 20px;
  margin-bottom: 0;
}
.panel .panel-footer ul li {
  padding-bottom: 5px;
}
.panel .panel-footer ul li:last-child {
  padding-bottom: 0;
}
