#form-add-piece {
}

.panel .panel-footer {
  ul {
    padding-left: 20px;
    margin-bottom: 0;

    li {
      padding-bottom: 5px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
