@import "../utils";

.panel-primary .panel-body {
  padding-top: 30px;
  position: relative;
  overflow-y: auto;

  @media (max-width: @screen-xs-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
