.panel-primary .panel-body {
  padding-top: 30px;
}
.piece-wap {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.piece-wap .media-left {
  padding-right: 18px;
}
.piece-wap .vote {
  background-color: #ffffff;
  border: 1px solid #E0E3E6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.piece-wap .vote:hover {
  border-color: #bbb;
}
.piece-wap .vote.voted {
  border-color: #1e88a8;
  color: #1e88a8;
}
.piece-wap .vote .votes-count {
  line-height: 1;
  padding-bottom: 4px;
}
.piece-wap .vote .vote-icon {
  line-height: 1;
}
.piece-wap .content {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}
.piece-wap .meta {
  color: #aaa;
  font-size: 12px;
}
.piece-wap .meta .collect {
  margin-left: 10px;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
}
.piece-wap .meta .collect .collect-text {
  font-size: 12px;
}
.piece-wap .meta .collect.collected,
.piece-wap .meta .collect:hover {
  color: #1e88a8;
}
.created-info {
  padding: 10px 0;
  line-height: 32px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}
.created-info .user-avatar-link {
  margin-right: 8px;
}
.created-info .user-avatar-link .user-avatar {
  width: 32px;
  height: 32px;
}
.created-info .created-time {
  color: #aaa;
}
.subtitle {
  font-size: 16px;
  color: #aaa;
  margin: 20px 0 15px 0;
}
.voters img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 8px 8px 0;
}
.comment {
  margin-bottom: 15px;
}
.comment .user-avatar {
  width: 32px;
  height: 32px;
}
.comment .comment-user {
  margin-bottom: 4px;
}
.comment .comment-user .comment-time {
  font-size: 12px;
  color: #aaa;
  margin-left: 8px;
}
#comment-textarea {
  margin-top: 5px;
}
.comment-after-signed-in-wap {
  padding: 12px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
