Flask
Flask-WTF
Flask-Script
Flask-SQLAlchemy
flask-debugtoolbar
Flask-Uploads
Flask-Migrate
MySQL-python
itsdangerous
permission
Pillow
blinker
markdown2
qrcode
gunicorn

# dev
fabric
raven
formic==0.9beta8
livereload
nose
coverage
pylint
PyYAML
cssmin
lesscpy
PyExecJS
uglipyjs