{% extends "layout.html" %}
{% from "macro/ui.html" import render_user_profile_header, render_pieces %}

{% block page_title %}{{ user.name }}{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-body panel-body-no-padding">
            {{ render_user_profile_header(user, active="collections") }}

            <div class="collections-wap clearfix">
               {% for collection in user.collections %}
                  <div class="collection" data-collection-id="{{ collection.id }}">
                     <div class="title">{{ collection.title }}</div>

                     {% if collection.desc %}
                        <div class="desc">{{ collection.desc }}</div>
                     {% endif %}

                     <div class="pieces-count">
                        {{ collection.pieces.count() }} 句子
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}
