{% extends "layout.html" %}
{% from "macros/_collection.html" import render_collections %}
{% from "macros/_user.html" import render_user_profile_header %}
{% from 'macros/_utils.html' import pagination %}

{% block page_title %}{{ user.name }} - 收藏的句集 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-body panel-body-no-padding">
            {{ render_user_profile_header(user, active="likes") }}
            {{ render_collections(collections.items, attr='collection') }}

            {% if collections.pages > 1 %}
               {{ pagination(collections) }}
            {% endif %}
         </div>
      </div>
   </div>
{% endblock %}
