{% extends "layout.html" %}
{% from "macros/_piece.html" import render_pieces %}
{% from "macros/_user.html" import render_user_profile_header %}
{% from 'macros/_utils.html' import pagination %}

{% block page_title %}{{ user.name }} - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-body panel-body-no-padding">
            {{ render_user_profile_header(user, active="votes") }}
            {{ render_pieces(votes.items, attr="piece") }}
         </div>

         {% if votes.pages > 1 %}
            <div class="panel-footer">
               {{ pagination(votes) }}
            </div>
         {% endif %}
      </div>
   </div>
{% endblock %}
