{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}
{% from 'macros/_utils.html' import upload_and_crop_image %}

{% block page_title %}设置 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">设置</div>
         <div class="panel-body">
            <form method="post" action="{{ url_for('user.settings') }}">
               {{ form.csrf_token() }}

               <div class="form-group form-group-avatar">
                  {{ upload_and_crop_image(
                        g.user.avatar_url,
                        url_for('user.upload_avatar'),
                        url_for('user.crop_avatar'),
                        "更新头像"
                     ) }}
               </div>

               {{ vertical_field(form.motto) }}
               {{ vertical_field(form.blog) }}
               {{ vertical_field(form.weibo) }}
               {{ vertical_field(form.douban) }}
               {# {{ vertical_field(form.zhihu) }}#}

               <div class="form-group">
                  <label for="mottoa">密码</label>

                  <div>
                     <a class="btn btn-default btn-xs"
                        href="{{ url_for('user.change_password') }}">
                        修改密码
                     </a>
                  </div>
               </div>

               <div class="submit-wap submit-right">
                  <button type="submit" class="btn btn-submit btn-primary">保存</button>
               </div>
            </form>
         </div>
      </div>
   </div>


{% endblock %}
