{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}

{% block page_title %}设置 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">设置</div>
         <div class="panel-body">
            <form method="post" action="{{ url_for('user.settings') }}">
               {{ form.csrf_token() }}

               <div class="form-group form-group-avatar">
                  <div class="avatar-wap">
                     <img class="user-avatar img-circle" src="{{ g.user.avatar_url }}" alt=""/>
                  </div>

                  <button type="button" class="btn btn-primary btn-xs" id="btn-upload-avatar">
                     更换头像
                  </button>

                  <div class="upload-error-info text-danger">上传失败，请稍后再试。</div>
               </div>

               {{ vertical_field(form.motto) }}
               {{ vertical_field(form.blog) }}
               {{ vertical_field(form.weibo) }}
               {{ vertical_field(form.douban) }}
               {# {{ vertical_field(form.zhihu) }}#}

               <div class="submit-wap submit-right">
                  <button type="submit" class="btn btn-submit btn-primary">保存</button>
               </div>
            </form>
         </div>
      </div>
   </div>
{% endblock %}
