{% extends "layout.html" %}
{% from "macro/ui.html" import render_user_profile_header, render_pieces, pagination %}

{% block page_title %}{{ user.name }} - 分享 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-body panel-body-no-padding">
            {{ render_user_profile_header(user, active="share") }}
            {{ render_pieces(pieces.items) }}
         </div>

         {% if pieces.pages > 1 %}
            <div class="panel-footer">
               {{ pagination(pieces) }}
            </div>
         {% endif %}
      </div>
   </div>
{% endblock %}
