{% extends "layout.html" %}
{% from "macro/ui.html" import render_user_profile_header, render_pieces, render_piece_modal_wap %}

{% block page_title %}{{ user.name }}{% endblock %}
{% block page_content %}
   {{ render_piece_modal_wap(user.voted_pieces.first().piece) }}

   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-body panel-body-no-padding">
            {{ render_user_profile_header(user, active="votes") }}
            {{ render_pieces(user.voted_pieces, attr="piece") }}
         </div>
      </div>
   </div>
{% endblock %}
