.pagination {
  margin: 0 0 25px 27px;
}
.collection-kinds-wap {
  padding: 30px 27px 0 27px;
}
.collection-kinds-wap .collection-kind {
  padding: 6px 10px;
  line-height: 1;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: #666;
}
.collection-kinds-wap .collection-kind.active {
  background-color: #1e88a8;
  border-color: #1e88a8;
  color: white;
}
.collection-kinds-wap .collection-kind.active:hover {
  color: white;
}
.collection-kinds-wap .collection-kind:hover {
  color: #1e88a8;
}
.collections-wap {
  padding-top: 18px;
}
