.pieces-wap {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 3px 0;
  margin-bottom: 40px;
}

.date {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0px;
  line-height: 1;
  background-color: rgb(30, 136, 168);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
}

.piece {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 20px 20px 20px;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover {
    background-color: #f8f8f8;
  }

  .media-left {
    padding-right: 18px;
  }

  .user-avatar {
    width: 32px;
    height: 32px;
  }

  .comments-count {
    text-align: center;
    margin-top: 8px;
    color: #aaa;
  }

  .content {
    padding-right: 100px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 16px;
  }

  .source {
    color: #aaa;
    font-size: 12px;
  }

  .source_favicon {
    vertical-align: text-bottom;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }

  .vote {
    background-color: #ffffff;
    border: 1px solid #E0E3E6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      border-color: #bbb;
    }

    .votes-count {
      line-height: 1;
      padding-bottom: 4px;
    }

    .vote-icon {
      line-height: 1;
    }
  }
}