.pieces-wap {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
  margin-bottom: 40px;
}
.date {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0px;
  line-height: 1;
  background-color: #1e88a8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
}
.piece {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 20px 20px 20px;
  cursor: pointer;
}
.piece:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.piece:hover {
  background-color: #f8f8f8;
}
.piece .media-left {
  padding-right: 18px;
}
.piece .user-avatar {
  width: 32px;
  height: 32px;
}
.piece .comments-count {
  text-align: center;
  margin-top: 8px;
  color: #bbb;
}
.piece .comments-count .fa {
  font-size: 12px;
  margin-left: 1px;
}
.piece .content {
  padding-right: 100px;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}
.piece .source {
  color: #aaa;
  font-size: 12px;
}
.piece .source:hover {
  color: #1e88a8;
}
.piece .source_favicon {
  vertical-align: text-bottom;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.piece .vote {
  background-color: #ffffff;
  border: 1px solid #E0E3E6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.piece .vote:hover {
  border-color: #bbb;
}
.piece .vote.voted {
  border-color: #1e88a8;
  color: #1e88a8;
}
.piece .vote .votes-count {
  line-height: 1;
  padding-bottom: 4px;
}
.piece .vote .vote-icon {
  line-height: 1;
}
