{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}

{% block page_title %}发送邀请码{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">发送邀请码</div>
         <div class="panel-body">
            <form action="" method="post">
               {{ form.csrf_token() }}

               <div class="form-group">
                  <label for="">邀请码</label>
                  <input type="text" readonly="readonly" class="form-control"
                         value="{{ invitation_code.code }}"/>
               </div>

               {{ vertical_field(form.email) }}

               {{ form_submit('发送') }}
            </form>
         </div>
      </div>
   </div>
{% endblock %}
