{% extends "layout.html" %}
{% from 'macro/form.html' import vertical_field, form_submit %}

{% block page_title %}编辑句集「{{ collection.title }}」- 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">编辑句集「{{ collection.title }}」</div>
         <div class="panel-body">
            <form method="post">
               {{ form.csrf_token() }}

               <div class="form-group form-group-cover">
                  <div class="cover-wap">
                     <img class="cover img-circle" src="{{ collection.cover_url }}" alt=""/>
                  </div>

                  <button type="button" data-collection-id="{{ collection.id }}"
                          class="btn btn-primary btn-xs" id="btn-upload-cover">
                     更换图标
                  </button>

                  <div class="upload-error-info text-danger">上传失败，请稍后再试。</div>
               </div>

               {{ vertical_field(form.title) }}
               {#               {{ vertical_field(form.desc) }}#}

               {{ form_submit('保存') }}
            </form>
         </div>
      </div>
   </div>
{% endblock %}
