{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}
{% from 'macros/_utils.html' import upload_and_crop_image %}

{% block page_title %}编辑句集「{{ collection.title }}」- 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">编辑句集「{{ collection.title }}」</div>
         <div class="panel-body">
            <form method="post">
               {{ form.csrf_token() }}

               <div class="form-group form-group-cover">
                  {{ upload_and_crop_image(
                        collection.cover_url,
                        url_for('collection.upload_cover'),
                        url_for('collection.crop_cover', uid=collection.id),
                        "更新图标"
                     ) }}
               </div>

               {{ vertical_field(form.title) }}
               {{ vertical_field(form.desc) }}

               {% if permissions.AdminPermission().check() %}
                  {{ vertical_field(form.kind_id) }}
               {% endif %}

               {{ form_submit('保存') }}
            </form>
         </div>
      </div>
   </div>
{% endblock %}
