{% extends 'layout.html' %}
{% from 'macro/ui.html' import render_piece_modal_wap, render_pieces, render_collect_modal %}

{% block page_title %}句集 - {{ collection.title }}{% endblock %}
{% block page_content %}
   {{ render_collect_modal() }}

   {% if collection.pieces.count() %}
      {{ render_piece_modal_wap(collection.pieces.first().piece) }}
   {% endif %}

   <div class="container">
      <div class="panel panel-primary piece-panel">
         <div class="panel-body panel-body-no-padding">
            <div class="collection-header">
               <div class="title">
                  <span class="fa fa-book"></span>&nbsp;&nbsp;{{ collection.title }}
               </div>

               {#               {% if collection.desc %}#}
               {#                  <div class="desc">{{ collection.desc }}</div>#}
               {#               {% endif %}#}

               {% if collection.cover_url %}
                  <img src="{{ collection.cover_url }}" alt="" class="img-circle collection-cover"/>
               {% endif %}

               {% if permissions.AdminPermission().check() %}
                  <a href="{{ url_for('collection.edit', uid=collection.id) }}"
                     class="btn-edit-collection" title="编辑句集">
                     <span class="fa fa-pencil"></span>
                  </a>
               {% endif %}
            </div>

            {{ render_pieces(collection.pieces, attr="piece") }}
         </div>
      </div>
   </div>
{% endblock %}
