{% extends 'layout.html' %}
{% from 'macro/piece.html' import render_pieces %}
{% from 'macro/collection.html' import render_collection_header %}
{% from 'macro/utils.html' import pagination %}

{% block page_title %}句集「{{ collection.title }}」- 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary piece-panel">
         <div class="panel-body panel-body-no-padding">
            {{ render_collection_header(collection, active='latest') }}
            {{ render_pieces(pieces.items, attr="piece") }}
         </div>

         {% if pieces.pages > 1 %}
            <div class="panel-footer">
               {{ pagination(pieces) }}
            </div>
         {% endif %}
      </div>
   </div>
{% endblock %}
