{% extends 'layout.html' %}

{% block page_title %}{{ book.title }} - 壹经典{% endblock %}
{% block page_id %}page-book{% endblock %}

{% block body %}
   <script type="text/javascript">
      $(function () {
         $('.excerpt-position-bar').tooltip();
      });
   </script>

   <div class='row'>
      <div class='col-md-8'>
         <div class='book-header clearfix'>
            <img class='book-cover' src="{{ book.cover_image }}" title="{{ book.title }}"
                 alt="{{ book.title }}">

            <div class='book-info-wap'>
               <h1>{{ book.title }}</h1>

               <p class='book-author'>{{ book.author }}</p>
            </div>
         </div>

         <h2>内容简介</h2>

         <div class='book-intro'>{{ book.friendly_intro|safe }}</div>

         <h2>摘录 / {{ book.excerpts.count() }}</h2>

         <div class="progress">
            {% for e in book.excerpts %}
               <a href="{{ url_for('excerpt', excerpt_id=e.id) }}">
                  <div class='excerpt-position-bar progress-bar progress-bar-info'
                       style="left: {{ e.start_percentage }}%; width: {{ e.width_percentage }}%;"
                       title="{{ e.title }} P{{ e.page_start }}-P{{ e.page_end }}"
                       data-container="body"></div>
               </a>
            {% endfor %}
         </div>

         {% for e in book.excerpts %}
            <div class='book-excerpt-item'>
               <div class='excerpt-title'><a
                     href="{{ url_for('excerpt', excerpt_id=e.id) }}">{{ e.title }}</a>
                  <small>P{{ e.page_start }}-P{{ e.page_end }}</small>
               </div>
               <div class='excerpt-content'>{{ e.content|truncate(100, '...') }}</div>
               <div class='create-time'>{{ e.create_time }}</div>
            </div>
         {% endfor %}
      </div>

      <div class='col-md-4'>
         <div class='book-external-link'>
            <a href="{{ book.douban_url }}" target="_blank">
               <img src="http://img3.douban.com/pics/douban-icons/favicon_32x32.png"
                    title="《{{ book.title }}》豆瓣主页">
            </a>

            <a href="{{ book.amazon_url }}" target="_blank">
               <img src="https://cdn1.iconfinder.com/data/icons/D_Social_Icon_Set/128/amazonpx.png"
                    title="《{{ book.title }}》Amazon主页">
            </a>
         </div>

         <h2>微信公众号：jingdian_001</h2>
         <img class='wx-qrcode' src="{{ url_for('static', filename='imgs/wx_qrcode.png') }}"
              title='微信公众号：jingdian_001'
              alt="微信公众号：jingdian_001">
      </div>
   </div>
{% endblock %}