.book-tags {
  list-style-type: none;
  padding: 0;
}
.book-tags li {
  margin-bottom: 2px;
}
.book-tags li a {
  display: block;
  padding: 7px 15px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
}
.book-tags li a:hover {
  background-color: #eaeaea;
}
.books-wap {
  margin-top: 5px;
}
