{% extends "layout.html" %}

{% block page_title %}关于 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">关于</div>
         <div class="panel-body text-center">
            <p>一花一世界，</p>

            <p>一叶一菩提。</p>

            <p>总有一句，</p>

            <p>直指人心。</p>

            <p>总有一句，</p>

            <p>让我，</p>

            <p>忘记整个世界的喧嚣。</p>

            <p>「壹经典」，</p>

            每天分享好句子。
         </div>
      </div>
   </div>
{% endblock %}
