{% extends "layout.html" %}
{% from "macro/ui.html" import pagination, render_collections %}

{% block page_title %}句集 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">句集</div>
         <div class="panel-body panel-body-no-padding">
            {{ render_collections(collections.items) }}

            {% if collections.pages > 1 %}
               {{ pagination(collections) }}
            {% endif %}
         </div>
      </div>
   </div>
{% endblock %}
