{% extends "layout.html" %}
{% from "macro/ui.html" import render_piece_modal_wap, render_pieces_by_date, render_collect_modal %}

{% block page_title %}壹经典{% endblock %}
{% block page_vars %}
   <script type="text/javascript">
      g.startDate = "{{ start_date }}";
   </script>
{% endblock %}
{% block page_content %}
   {{ render_piece_modal_wap(first_piece) }}
   {#   {{ render_collect_modal() }}#}

   <div class="container">
      <div class="pieces-container">
         {{ render_pieces_by_date(pieces, page, pre_page, next_page) }}
      </div>
      <div class="text-center loading-flag">
         正在加载
      </div>
   </div>
{% endblock %}
