{% macro field_error(field) %}
   <span class="text-danger form-error">
      {% if field.errors[0] %}
         {{ field.errors[0] }}
      {% endif %}
   </span>
{% endmacro %}


{% macro vertical_field(field, label=True) %}
   <div class="form-group">
      {% if label %}
         {{ field.label() }}
      {% endif %}

      {{ field(class="form-control", placeholder=field.description, **kwargs) }}
      {{ field_error(field) }}
   </div>
{% endmacro %}


{% macro checkbox_field(field) %}
   <div class="form-group">
      <div class="col-md-offset-2 col-sm-10">
         <div class="checkbox">
            {{ field() }}
            {{ field.label() }}
         </div>
      </div>
   </div>
{% endmacro %}


{% macro form_submit(btn_text, right=True) %}
   <div class="submit-wap {% if right %}submit-right{% endif %}">
      <button type="submit" class="btn btn-primary">{{ btn_text }}</button>
   </div>
{% endmacro %}
