{% macro pagination(paginator) %}
   {% if paginator.pages > 1 %}
      <ul class='pagination pagination-sm clearfix'>
         {% if paginator.has_prev %}
            <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
         {% endif %}

         {% for page in paginator.iter_pages() %}
            {% if page %}
               {% if page != paginator.page %}
                  <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
               {% else %}
                  <li class="active"><span>{{ page }}</span></li>
               {% endif %}
            {% else %}
               <li class="ellipsis"><span>...</span></li>
            {% endif %}
         {% endfor %}

         {% if paginator.has_next %}
            <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
         {% endif %}
      </ul>
   {% endif %}
{% endmacro %}


{% macro upload_and_crop_image(image_url, upload_image_url, crop_image_url, btn_upload_text) %}
   {# Image #}
   <div class="upload-and-crop-image-wap">
      <div class="image-wap">
         <img class="image img-circle" src="{{ image_url }}" alt=""/>

         <div class="image-uploading-percent"></div>
      </div>

      <button type="button" class="btn btn-default btn-xs" id="btn-upload-image">
         {{ btn_upload_text }}
      </button>

      <div class="upload-error-info text-danger">上传失败，请刷新页面后再试。</div>
   </div>

   {# Modal #}
   <div class="modal fade modal-need-adjust-height" id="modal-crop-image">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal"
                       aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
               <h4 class="modal-title">裁剪图片</h4>
            </div>

            <div class="modal-body">
               <img src="" alt="" class="image-to-crop"/>

               <div class="image-preview-wap">
                  <img src="" alt="" class="image-preview"/>
               </div>
            </div>

            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">取消
               </button>
               <button type="button" class="btn btn-primary btn-submit-crop">完成裁剪
               </button>
            </div>
         </div>
      </div>
   </div>

   <script type="text/javascript">
      (function () {
         var imageWidth, imageHeight, imageUrl;
         var previewWidth = 80, previewHeight = 80;
         var jcropAPI = null;
         var topLeftX, topLeftY, bottomRightX, bottomRightY;

         var uploader = new plupload.Uploader($.extend(g.pluploadDefaults, {
            browse_button: 'btn-upload-image',
            url: "{{ upload_image_url }}",
            multipart_params: {
               'csrf_token': g.csrfToken
            },
            max_file_size: '10mb',
            init: {
               // 文件添加后立即上传
               FilesAdded: function (up, files) {
                  up.disableBrowse(true);
                  $('.image-uploading-percent').show();

                  plupload.each(files, function () {
                     uploader.start();
                  });
               },

               // 上传进度
               UploadProgress: function (up, file) {
                  $('.image-uploading-percent').text(file.percent + "%");
               },

               // 上传完毕
               FileUploaded: function (up, file, info) {
                  var response = $.parseJSON(info.response);

                  imageWidth = response.width;
                  imageHeight = response.height;
                  imageUrl = response.image_url;

                  up.disableBrowse(false);

                  if (response.result) {
                     $('.upload-error-info').fadeOut();
                     $('#modal-crop-image').modal('show');
                     $('.image-preview').attr('src', imageUrl);
                     $('.image-to-crop')
                           .attr('src', imageUrl)
                           .attr({'width': imageWidth, 'height': imageHeight})
                           .removeAttr('style')
                           .onOnce('load', function () {
                              var selectRect = null;

                              if (imageWidth > imageHeight) {
                                 selectRect = [(imageWidth - imageHeight) / 2.0, 0,
                                          (imageWidth + imageHeight) / 2.0, imageHeight];
                              } else {
                                 selectRect = [0, (imageHeight - imageWidth) / 2.0,
                                    imageWidth, (imageHeight + imageWidth) / 2.0];
                              }

                              $('.image-to-crop').Jcrop({
                                 onChange: showPreview,
                                 onSelect: showPreview,
                                 aspectRatio: 1
                              }, function () {
                                 jcropAPI = this;
                                 this.setSelect(selectRect);
                              });
                           });
                  } else {
                     $('.upload-error-info').fadeOut();
                     $('.image-uploading-percent').hide();
                  }
               },

               // 上传失败
               Error: function (up) {
                  $('.upload-error-info').fadeOut();
                  $('.image-uploading-percent').hide();
                  up.disableBrowse(false);
               }
            }
         }));

         uploader.init();

         // Modal关闭时，清理UI
         $('#modal-crop-image').on('hidden.bs.modal', function () {
            $('.image-uploading-percent').hide();
            jcropAPI.destroy();
         });

         // 确认裁剪
         $('.btn-submit-crop').click(function () {
            var imageFileName = imageUrl.split('/').pop();

            $.ajax({
               url: "{{ crop_image_url }}",
               method: 'post',
               dataType: 'json',
               data: {
                  'filename': imageFileName,
                  'top_left_x_ratio': parseFloat(topLeftX) / imageWidth,
                  'top_left_y_ratio': parseFloat(topLeftY) / imageHeight,
                  'bottom_right_x_ratio': parseFloat(bottomRightX) / imageWidth,
                  'bottom_right_y_ratio': parseFloat(bottomRightY) / imageHeight
               }
            }).done(function (response) {
               $('#modal-crop-image').modal('hide');
               if (response.result) {
                  $('.image').attr('src', response.image_url);
               }
            });
         });

         /**
          * Update preview image.
          * @param coords
          */
         function showPreview(coords) {
            var rx = previewWidth / coords.w;
            var ry = previewHeight / coords.h;

            topLeftX = coords.x;
            topLeftY = coords.y;
            bottomRightX = coords.x2;
            bottomRightY = coords.y2;

            $('.jcrop-holder').css('backgroundColor', '#ffffff');
            $('.image-preview').css({
               width: Math.round(rx * imageWidth) + 'px',
               height: Math.round(ry * imageHeight) + 'px',
               marginLeft: '-' + Math.round(rx * coords.x) + 'px',
               marginTop: '-' + Math.round(ry * coords.y) + 'px'
            });
         }
      })();
   </script>
{% endmacro %}
