.form-group-avatar {
  margin: 10px 0 30px 0;
  text-align: center;

  .avatar-wap {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;

    .user-avatar {
      width: 80px;
      height: 80px;
    }

    .avatar-loading-percent {
      display: none;
      background-color: rgba(255, 255, 255, .8);
      width: 80px;
      height: 80px;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      z-index: 100;
      line-height: 80px;
    }
  }

  #btn-upload-avatar {
    margin-top: 15px;
    outline: none;
  }

  .upload-error-info {
    display: none;
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 5px;
  }
}

#modal-crop-avatar {
  .modal-body {
    text-align: center;
    padding-top: 20px;
  }

  .avatar-to-crop {
  }

  .avatar-preview-wap {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 15px;

    .avatar-preview {
      display: inline-block;

    }
  }

  .jcrop-holder {
    display: inline-block;
  }
}
