{% macro field_errors(field) %}
   <ul class="list-form-errors text-danger list-unstyled">
      <li>{{ field.errors[0] }}</li>
   </ul>
{% endmacro %}


{% macro vertical_field(field, label=True) %}
   <div class="form-group">
      {% if label %}
         {{ field.label() }}
      {% endif %}

      {{ field(class="form-control", placeholder=field.description, **kwargs) }}
      {{ field_errors(field) }}
   </div>
{% endmacro %}


{% macro checkbox_field(field) %}
   <div class="form-group">
      <div class="col-md-offset-2 col-sm-10">
         <div class="checkbox">
            {{ field() }}
            {{ field.label() }}
         </div>
      </div>
   </div>
{% endmacro %}


{% macro form_submit(btn_text) %}
   <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary">{{ btn_text }}</button>
   </div>
{% endmacro %}