{% macro full_screen_script() %}
   <script type="text/javascript">
      (function () {
         $(document).on('click', '.btn-full-screen', function () {
            var content = $(this).data('content'),
                  source = $(this).data('source'),
                  author = $(this).data('author'),
                  html = "",
                  sourceForDisplay = "";

            html = "<div class='piece-full-screen-backdrop'>"
                  + "<span class='btn-close-backdrop'>×</span>"
                  + "<div class='wap'>"
                  + "<div class='content'>" + content + "</div>";

            if (source || author) {
               if (author) {
                  sourceForDisplay += author
               }
               if (source) {
                  sourceForDisplay += "《" + source + "》";
               }

               html += "<div class='source'>" + sourceForDisplay + "</div>";
            }

            html += "</div>" + "</div>";

            $('body').append(html);
            adjustContent();

            setTimeout(function () {
               $('.piece-full-screen-backdrop').css('opacity', '.8');
               $('.base-wap').addClass('blur');
            }, 100);
         });

         $(window).resize(function () {
            adjustContent();
         });

         $(document).keyup(function (e) {
            if (e.keyCode == 27) {
               closeBackdrop();
            }
         });

         $(document).on('click', '.btn-close-backdrop', function () {
            closeBackdrop();
         });

         /**
          * Adjust content in the backdrop.
          */
         function adjustContent() {
            var $wap = $('.piece-full-screen-backdrop .wap'),
                  $content = $('.piece-full-screen-backdrop .wap .content'),
                  verticalMargin = 0;

            if (!$wap.length) {
               return;
            }

            // 若content为单行，则居中排版
            if ($content.height() < 100) {
               $content.addClass('text-center');
            } else {
               $content.removeClass('text-center');
            }

            // 上边距最小为80px
            verticalMargin = ($(window).height() - $wap.height()) / 2;
            if (verticalMargin < 80) {
               verticalMargin = 80;
            }

            $wap.css({
               'marginTop': verticalMargin,
               'marginBottom': verticalMargin
            });
         }

         /**
          * Close the backdrop.
          */
         function closeBackdrop() {
            $('.base-wap').removeClass('blur');
            $('.piece-full-screen-backdrop').detach();
         }
      })();
   </script>
{% endmacro %}
