{% macro full_screen_script() %}
   <script type="text/javascript">
      (function () {
         $(document).on('click', '.btn-full-screen', function () {
            var content = $(this).data('content'),
                  sourceString = $(this).data('source-string'),
                  html = "";

            html = "<div class='content'>" + content + "</div>";
            if (sourceString) {
               html += "<div class='source'>" + sourceString + "</div>";
            }
            openBackdrop(html);
         });
      })();
   </script>
{% endmacro %}
