{% macro pagination(paginator) %}
   {% if paginator.pages > 1 %}
      <ul class='pagination pagination-sm'>
         {% if paginator.has_prev %}
            <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
         {% endif %}

         {% for page in paginator.iter_pages() %}
            {% if page %}
               {% if page != paginator.page %}
                  <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
               {% else %}
                  <li class="active"><span>{{ page }}</span></li>
               {% endif %}
            {% else %}
               <li class="ellipsis"><span>...</span></li>
            {% endif %}
         {% endfor %}

         {% if paginator.has_next %}
            <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
         {% endif %}
      </ul>
   {% endif %}
{% endmacro %}


{% macro modal(piece) %}
   <div class="media piece-wap">
      <div class="media-left">
         <div class="vote">
            <div class="vote-icon">
               <span class="fa fa-angle-up"></span>
            </div>
            <div class="votes-count">{{ piece.votes_count }}</div>
         </div>
      </div>

      <div class="media-body">
         <div class="content">
            {{ piece.content }}
         </div>

         <div class="meta">
            <img src="{{ piece.source_favicon }}" class="source_favicon" alt=""/>
            <a href="{{ piece.source_url }}" class="source" target="_blank">
               {{ piece.source }}</a>
         </div>
      </div>
   </div>

   <div class="clearfix">
      <div class="piece-user pull-left">
         <img src="" class="user-avatar" alt=""/>
      </div>

      <div class="actions">

      </div>
   </div>
{% endmacro %}


{% macro render_pieces_wap(date, pieces) %}
   <div class="pieces-wap">
      <div class="date">{{ date }}</div>

      {% for piece in pieces %}
         <div class="piece" data-piece-id={{ piece.id }}>
            <div class="media">
               <div class="media-left">
                  <div class="vote">
                     <div class="vote-icon">
                        <span class="fa fa-angle-up"></span>
                     </div>
                     <div class="votes-count">{{ piece.votes_count }}</div>
                  </div>
               </div>

               <div class="media-body">
                  <div class="pull-right">
                     <img src="{{ piece.user.avatar_url }}"
                          class="user-avatar img-circle" alt=""/>

                     <div class="comments-count text-right">
                        {{ piece.comments.count() }} <span class="fa fa-comment"></span>
                     </div>
                  </div>

                  <div class="content">
                     {{ piece.content }}
                  </div>

                  <div class="meta">
                     <a href="{{ piece.source_url }}" class="source" target="_blank">
                        {{ piece.source }}</a>
                  </div>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>
{% endmacro %}
