{% from 'macro/form.html' import vertical_field, field_error, form_submit %}

{% macro pagination(paginator) %}
   {% if paginator.pages > 1 %}
      <ul class='pagination pagination-sm clearfix'>
         {% if paginator.has_prev %}
            <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
         {% endif %}

         {% for page in paginator.iter_pages() %}
            {% if page %}
               {% if page != paginator.page %}
                  <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
               {% else %}
                  <li class="active"><span>{{ page }}</span></li>
               {% endif %}
            {% else %}
               <li class="ellipsis"><span>...</span></li>
            {% endif %}
         {% endfor %}

         {% if paginator.has_next %}
            <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
         {% endif %}
      </ul>
   {% endif %}
{% endmacro %}


{% macro render_piece_source(piece, with_favicon=True) %}
   {% if piece.original or piece.author or piece.source %}
      <div class="source-wap">
         {% if piece.original %}
            <span class="source">原创</span>
         {% else %}
            {% if piece.source_url %}
               {% if with_favicon %}
                  <img src="{{ piece.source_favicon }}" class="source_favicon" alt=""/>
               {% endif %}

               <a href="{{ piece.source_url }}" class="source" target="_blank">
                  {{ piece.author or "" }}{% if piece.source %}《{{ piece.source }}》{% endif %}
               </a>
            {% else %}
               <span class="source">
               {{ piece.author or "" }}{% if piece.source %}《{{ piece.source }}》{% endif %}
            </span>
            {% endif %}
         {% endif %}
      </div>
   {% endif %}
{% endmacro %}


{% macro render_user_avatar(user) %}
   <a href="{{ url_for('user.profile', uid=user.id) }}" class="user-avatar-link">
      <img src="{{ user.avatar_url }}" class="user-avatar user-avatar-popover img-circle"
           data-user-id="{{ user.id }}" alt=""/></a>
   <div class="popover-content-wap">
      <div class="user-card">
         <a href="{{ url_for('user.profile', uid=user.id) }}" class="user-link">
            <img src="{{ user.avatar_url }}" class="user-avatar img-circle" alt=""/>
         </a>

         <div class="user-name">
            {{ user.name }}
         </div>

         <div class="meta clearfix">
            <div class="count-wap pieces-count">
               <a href="{{ url_for('user.profile', uid=user.id) }}">
                  {{ user.pieces_count }}<br/><span class="count-quantifier">分享</span>
               </a>
            </div>
            <div class="count-wap votes-count">
               <a href="{{ url_for('user.votes', uid=user.id) }}">
                  {{ user.votes_count }}<br/><span class="count-quantifier">顶</span>
               </a>
            </div>
            <div class="count-wap collections-count">
               <a href="{{ url_for('user.collections', uid=user.id) }}">
                  {{ user.collections_count }}<br/><span class="count-quantifier">句集</span>
               </a>
            </div>
         </div>
      </div>
   </div>
{% endmacro %}


{% macro render_comment(comment) %}
   <div class="comment">
      <div class="media">
         <div class="media-left">
            {{ render_user_avatar(comment.user) }}
         </div>
         <div class="media-body">
            <div class="comment-user">
               {{ comment.user.name }}
               <span class="comment-time">
                  {{ comment.created_at|timesince }}
               </span>
            </div>

            <div class="comment-content">
               {{ comment.content }}
            </div>
         </div>
      </div>
   </div>
{% endmacro %}


{% macro render_piece_details_wap(piece) %}
   <div class="piece-details-wap">
      <div class="media piece-header">
         <div class="media-left">
            <div class="vote {% if piece.voted_by_user() %}voted{% endif %} need-signed-in"
                 data-piece-id={{ piece.id }}>
               <div class="vote-icon">
                  <span class="fa fa-angle-up"></span>
               </div>
               <div class="votes-count">{{ piece.votes_count }}</div>
            </div>
         </div>

         <div class="media-body">
            <div class="content">
               {{ piece.content }}
            </div>

            <div class="meta clearfix">
               {{ render_piece_source(piece) }}

               <div class="options">
                  <a class="collect {% if piece.collected_by_user() %}collected{% endif %} need-signed-in"
                     title="收藏到句集" {% if g.user %}data-toggle="modal"{% endif %}
                     data-target="#collect-modal" data-piece-id="{{ piece.id }}">
                     <span class="fa fa-star"></span>
                     <span class="btn-text">
                        {% if piece.collected_by_user() %}已收藏{% else %}收藏{% endif %}</span></a>

                  {% if permissions.PieceEditPermission(piece).check() %}
                     <a href="{{ url_for('piece.edit', uid=piece.id) }}" class="btn-edit-piece">
                        <span class="fa fa-pencil"></span> <span class="btn-text">编辑</span>
                     </a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>

      <div class="created-info clearfix">
         <div class="pull-left">
            {{ render_user_avatar(piece.user) }}
            <span class="created-time">发布于 {{ piece.created_at|timesince }}</span>
         </div>

         <div class="actions pull-right">
            <a href="">分享到微信</a>
         </div>
      </div>

      <div class="subtitle">{{ piece.votes_count }} 顶</div>

      <div class="voters">
         {% for voter in piece.voters %}
            {{ render_user_avatar(voter.user) }}
         {% endfor %}
      </div>

      <div class="subtitle">{{ piece.comments.count() }} 评论</div>

      {% if g.user %}
         <form action="">
            <div class="form-group">
               <textarea name="" id="comment-textarea" rows="5" class="form-control"
                         placeholder="说点什么"></textarea>
            </div>
            <div class="submit-wap submit-right">
               <button type="button" class="btn btn-sm btn-comment btn-primary"
                       data-piece-id="{{ piece.id }}">评论
               </button>
            </div>
         </form>
      {% else %}
         <div class="comment-after-signed-in-wap">
            <a href="{{ url_for('account.signin') }}">登陆</a> 后评论
         </div>
      {% endif %}

      <div class="comments-wap">
         {% for comment in piece.comments %}
            {{ render_comment(comment) }}
         {% endfor %}
      </div>

      <script type="text/javascript">
         // 评论
         $('.btn-comment').click(function () {
            var pieceId = parseInt($(this).attr('data-piece-id')),
                  comment = $.trim($('#comment-textarea').val());

            if (comment !== "") {
               $.ajax({
                  url: urlFor('piece.comment', {uid: pieceId}),
                  method: 'post',
                  data: {
                     comment: comment
                  },
                  success: function (comment) {
                     $('.comments-wap').append(comment);
                     $('#comment-textarea').val('');
                  }
               });
            }
         });
      </script>
   </div>
{% endmacro %}


{% macro render_piece_modal_wap(piece) %}
   <div class="piece-modal-wap" data-piece-id={{ piece.id }}>
      {% if piece %}
         {{ render_piece_details_wap(piece) }}
      {% endif %}
   </div>

   <script type="text/javascript">
      g.originalUrl = window.location.href;

      // 弹出侧边栏
      $(document).on('click', '.pieces-wap .piece', function (event) {
         // 链接和vote不触发此事件
         if (event.target.tagName.toLowerCase() === 'a'
               || $(event.target).parent('a').length
               || $(event.target).hasClass('vote')
               || $(event.target).hasClass('user-avatar')
               || $(event.target).parents('.vote').length) {
            return true;
         }

         var pieceId = parseInt($(this).attr('data-piece-id')),
               pieceModal = $('.piece-modal-wap').first(),
               pieceIdOfModal = parseInt(pieceModal.attr('data-piece-id'));

         // 点击的piece与modal的piece一致
         if (pieceId === pieceIdOfModal) {
            if (pieceModal.hasClass('open')) {
               closeModal(pieceId);
            } else {
               openModal(pieceId);
            }
         } else {
            showLoadingFlag(pieceModal);

            if (pieceModal.hasClass('open')) {
               pieceModal.attr('data-piece-id', pieceId);
               changeUrl(pieceId);
               addClicksCount(pieceId);

               $.ajax({
                  url: urlFor('piece.modal', {uid: pieceId}),
                  success: function (modal) {
                     $('.piece-modal-wap').html(modal);
                  }
               });
            } else {
               openModal(pieceId, function () {
                  pieceModal.attr('data-piece-id', pieceId);
                  $.ajax({
                     url: urlFor('piece.modal', {uid: pieceId}),
                     success: function (modal) {
                        $('.piece-modal-wap').html(modal);
                     }
                  });
               });
            }
         }
      });

      /**
       * Open the piece modal.
       * @param pieceId
       * @param callback
       */
      function openModal(pieceId, callback) {
         changeUrl(pieceId);
         addClicksCount(pieceId);

         $('.piece-modal-wap').animate({'right': '0'}, function () {
            $(this).addClass('open');

            if ($.isFunction(callback)) {
               callback();
            }
         });
      }

      /**
       * Close the piece modal.
       * @param callback
       */
      function closeModal(callback) {
         if (window.history.replaceState) {
            window.history.replaceState('', '', g.originalUrl);
         }

         $('.piece-modal-wap').animate({'right': '-503px'}, function () {
            $(this).removeClass('open');

            if ($.isFunction(callback)) {
               callback();
            }
         });
      }

      /**
       * Change browser url without redirecting.
       * @param pieceId
       */
      function changeUrl(pieceId) {
         if (window.history.replaceState) {
            window.history.replaceState('', '', urlFor('piece.view', {uid: pieceId}, true));
         }
      }

      /**
       * Add piece's clicks count.
       * @param pieceId
       */
      function addClicksCount(pieceId) {
         $.ajax({
            url: urlFor('piece.add_clicks_count', {uid: pieceId}),
            method: 'post'
         });
      }

      /**
       * Show the loading flag.
       * @param pieceModal
       */
      function showLoadingFlag(pieceModal) {
         pieceModal.html("<span class='fa fa-spinner fa-spin flag-loading-piece'></span>");
      }
   </script>
{% endmacro %}


{% macro render_pieces(pieces, attr=None) %}
   <div class="pieces-wap">
      {% for piece in pieces %}
         {% if attr %}
            {% set piece = piece[attr] %}
         {% endif %}

         <div class="piece" data-piece-id={{ piece.id }}>
            <div class="media">
               <div class="media-left">
                  <div class="vote {% if piece.voted_by_user() %}voted{% endif %} need-signed-in"
                       data-piece-id={{ piece.id }}>
                     <div class="vote-icon">
                        <span class="fa fa-angle-up"></span>
                     </div>
                     <div class="votes-count">{{ piece.votes_count }}</div>
                  </div>
               </div>

               <div class="media-body">
                  <div class="pull-right text-right">
                     {{ render_user_avatar(piece.user) }}

                     <div class="comments-count text-right">
                        {{ piece.comments.count() }} <span class="fa fa-comment"></span>
                     </div>
                  </div>

                  <div class="content">
                     {{ piece.content }}
                  </div>

                  <div class="meta">
                     {{ render_piece_source(piece, false) }}

                     <div class="options">
                        <a class="collect {% if piece.collected_by_user() %}collected{% endif %} need-signed-in"
                           title="收藏到句集" data-piece-id="{{ piece.id }}"
                           {% if g.user %}data-toggle="modal"{% endif %}
                           data-target="#collect-modal">
                           <span class="fa fa-star"></span></a>

                        {% if permissions.PieceEditPermission(piece).check() %}
                           <a href="{{ url_for('piece.edit', uid=piece.id) }}"
                              class="btn-edit-piece" title="编辑">
                              <span class="fa fa-pencil"></span></a>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>
{% endmacro %}


{% macro render_pieces_by_date(pieces_data, page, pre_page, next_page) %}
   <div class="panel panel-primary pieces-by-date-wap">
      <div class="panel-heading date">{{ pieces_data.date_string }}</div>

      <div class="panel-body">
         {% if pieces_data.pieces.count() %}
            {{ render_pieces(pieces_data.pieces) }}
         {% else %}
            <div class="text-center share-piece">
               {% if page == 1 %}
                  <a href="{{ url_for('piece.add') }}" class="need-signed-in">
                     <span class="fa fa-plus"></span> 分享句子
                  </a>
               {% else %}
                  无
               {% endif %}
            </div>
         {% endif %}

         {% if pieces_data.hide_pieces_count %}
            <div class="hide-pieces">
               {{ render_pieces(pieces_data.hide_pieces) }}
            </div>
         {% endif %}
      </div>

      {% if pieces_data.hide_pieces_count %}
         <div class="panel-footer text-center">
            <div class="btn-show-hide-pieces">
               展开其余 {{ pieces_data.hide_pieces_count }} 段文字
            </div>
         </div>
      {% endif %}

      <div class="pieces-pager clearfix">
         <a class="pre-page {% if not pre_page %}disabled{% endif %}"
            {% if pre_page %}href="{{ url_for('site.index', page=pre_page) }}"{% endif %}>
            <span class="fa fa-angle-left"></span>
         </a>
         <a class="next-page" href="{{ url_for('site.index', page=next_page) }}">
            <span class="fa fa-angle-right"></span>
         </a>
      </div>
   </div>

   <script type="text/javascript">
      $(document).one('click', '.btn-show-hide-pieces', function () {
         $(this).parents('.pieces-by-date-wap').first().find('.hide-pieces').show();
         $(this).parents('.panel-footer').first().detach();
      });
   </script>
{% endmacro %}


{% macro render_user_profile_header(user, active="creates") %}
   <div class="user-profile-header">
      <div class="user-info">
         <img src="{{ user.avatar_url }}" class="user-avatar img-circle" alt=""/>

         <div class="user-name">{{ user.name }}</div>

         {% if user.motto %}
            <div class="motto">{{ user.motto }}</div>
         {% endif %}

         <div class="media-icons">
            {% if user.blog %}
               <a href="{{ user.blog }}" target="_blank" title="博客">
                  <img src="{{ static('image/media/blog.png') }}" alt=""/>
               </a>
            {% endif %}
            {% if user.weibo %}
               <a href="{{ user.weibo }}" target="_blank" title="微博">
                  <img src="{{ static('image/media/weibo.jpg') }}" alt=""/>
               </a>
            {% endif %}
            {% if user.douban %}
               <a href="{{ user.douban }}" target="_blank" title="豆瓣">
                  <img src="{{ static('image/media/douban.png') }}" alt=""/>
               </a>
            {% endif %}
            {% if user.zhihu %}
               <a href="{{ user.zhihu }}" target="_blank" title="知乎">
                  <img src="{{ static('image/media/zhihu.png') }}" alt=""/>
               </a>
            {% endif %}
         </div>
      </div>

      <div class="tab clearfix">
         <a class="tab-item {% if active == "creates" %}active{% endif %}"
            href="{{ url_for('user.profile', uid=user.id) }}">
            {{ user.pieces_count }} 分享
         </a>
         <a class="tab-item {% if active == "votes" %}active{% endif %}"
            href="{{ url_for('user.votes', uid=user.id) }}">
            {{ user.votes_count }} 顶
         </a>
         <a class="tab-item {% if active == "collections" %}active{% endif %}"
            href="{{ url_for('user.collections', uid=user.id) }}">
            {{ user.collections_count }} 句集
         </a>
      </div>
   </div>
{% endmacro %}


{% macro render_collect_modal() %}
   <div class="modal fade" id="collect-modal" tabindex='-1'>
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
               {# 收藏句子 #}
               <h4 class="modal-title for-collect-piece">收藏到句集</h4>
               {# 新建句集 #}
               <h4 class="modal-title for-add-collection">新建句集</h4>
            </div>

            {# 收藏句子 #}
            <div class="modal-body for-collect-piece"></div>
            {# 新建句集 #}
            <div class="modal-body for-add-collection">
               <form action="" id="form-add-collection">
                  <div class="form-group">
                     <label for="title">标题</label>
                     <input class="form-control" id="title" name="title" type="text" value="">

                     <div class="text-danger form-error" id="title-form-error"></div>
                  </div>
                  <div class="form-group">
                     <label for="desc">描述</label>
                     <textarea class="form-control" id="desc" name="desc" rows="2"
                               placeholder="选填"></textarea>
                  </div>
               </form>
            </div>

            <div class="modal-footer clearfix">
               {# 收藏句子 #}
               <div class="for-collect-piece">
                  <div class="btn-add-collection">
                     <span class="fa fa-plus"></span> 新建句集
                  </div>
                  <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">
                     关闭
                  </button>
               </div>
               {# 新建句集 #}
               <div class="for-add-collection">
                  <span class="btn-cancle-add-collection">取消</span>
                  <button type="button" class="btn btn-primary btn-submit-collection">创建</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script type="text/javascript">
      var $collectionBarsWap = $('#collect-modal .modal-body.for-collect-piece');

      $(document).on('click', '.collect', function () {
         var pieceId = $(this).data('piece-id');

         $('#collect-modal').data('piece-id', pieceId);
         $collectionBarsWap
               .html("<span class='fa fa-spin fa-spinner flag-loading-collection-bars'></span>");

         $.ajax({
            url: urlFor('collection.collection_bars', {piece_id: pieceId}),
            method: 'post'
         }).done(function (html) {
            $collectionBarsWap.html(html);
         });
      }).on('click', '.collection-bar', function () {
         var url = "",
               pieceId = $(this).data('piece-id'),
               collectionId = $(this).data('collection-id'),
               collected = $(this).hasClass('collected'),
               collectionBar = $(this);

         if (collected) {
            url = urlFor('piece.uncollect', {uid: pieceId, collection_id: collectionId});
         } else {
            url = urlFor('piece.collect', {uid: pieceId, collection_id: collectionId});
         }

         $.ajax({
            url: url,
            method: 'post',
            dataType: 'json'
         }).done(function (response) {
            if (response.result) {
               if (collected) {
                  collectionBar.removeClass('collected');
               } else {
                  collectionBar.addClass('collected');
               }
            }

            if ($('.collection-bar.collected').length) {
               $(".collect[data-piece-id='" + pieceId + "']")
                     .addClass('collected')
                     .find('.btn-text').text('已收藏');
            } else {
               $(".collect[data-piece-id='" + pieceId + "']")
                     .removeClass('collected')
                     .find('.btn-text').text('收藏');
            }
         });
      });

      $('.btn-add-collection').click(function () {
         switchToAddCollection();
         $('#title').focus();
      });

      $('.btn-cancle-add-collection').click(function () {
         switchToCollectPiece();
         $('#title').val('');
         $('#desc').val('');
      });

      $('.btn-submit-collection').click(function () {
         var form = $('#form-add-collection'),
               titleInput = form.find('#title'),
               title = $.trim(titleInput.val()),
               desc = $.trim(form.find('#desc').val()),
               pieceId = $('#collect-modal').data('piece-id');

         if (title === "") {
            $('#title-form-error').text('标题不能为空').fadeIn();
            return;
         } else {
            $('#title-form-error').text('').hide();
         }

         switchToCollectPiece();
         $collectionBarsWap
               .html("<span class='fa fa-spin fa-spinner flag-loading-collection-bars'></span>");

         $.ajax({
            url: urlFor('collection.add_and_collect', {'piece_id': pieceId}),
            method: 'post',
            dataType: 'json',
            data: {
               title: title,
               desc: desc
            },
            success: function (response) {
               if (response.result) {
                  $('#title').val('');
                  $('#desc').val('');
                  $collectionBarsWap.html(response.collection_bars_html);
                  $(".collect[data-piece-id='" + pieceId + "']")
                        .addClass('collected')
                        .find('.btn-text').text('已收藏');
               } else if (response.error === 'repeat') {
                  $('#title-form-error').text('标题重复').fadeIn();
               }
            }
         });
      });

      // 调整Modal的上间距
      $('.modal').on('show.bs.modal', function () {
         adjustModalHeight($(this));
      });

      $(window).on("resize", function () {
         $('.modal:visible').each(function () {
            adjustModalHeight($(this));
         });
      });

      function switchToCollectPiece() {
         $('#collect-modal .for-collect-piece').show();
         $('#collect-modal .for-add-collection').hide();
      }

      function switchToAddCollection() {
         $('#collect-modal .for-collect-piece').hide();
         $('#collect-modal .for-add-collection').show();
      }

      function adjustModalHeight($modal) {
         $modal.css('display', 'block');
         var $dialog = $modal.find(".modal-dialog");
         var offset = ($(window).height() - $dialog.height()) * 0.3;

         if (offset > 0) {
            $dialog.css('margin-top', offset);
         }
      }
   </script>
{% endmacro %}


{% macro render_collection_bars(collections, piece_id) %}
   {% for collection in g.user.collections %}
      <div class="collection-bar {% if collection.has_piece(piece_id) %}collected{% endif %}"
           data-piece-id="{{ piece_id }}" data-collection-id="{{ collection.id }}">
         <span>{{ collection.title }}</span>
         <span class="collected-flag fa fa-check"></span>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_piece_form(form, add=True) %}
   <form method="post" class="form-piece">
      {{ form.csrf_token() }}

      {{ vertical_field(form.content, rows=5) }}

      <div class="checkbox">
         <label for="original">
            {{ form.original() }} 原创
         </label>
      </div>

      <div class="external">
         {{ vertical_field(form.author) }}

         <div class="form-group">
            <label for="source">
               出处 <span class="fa fa-question-circle source-help"></span>
            </label>
            <input class="form-control" id="source" name="source" placeholder="选填"
                   type="text" value="{{ form.source.data or "" }}">
            {{ field_error(form.source) }}
         </div>

         <div class="form-group">
            <label for="source_url">链接</label>

            <div class="source-url-wap">
               <input class="form-control" id="source_url" name="source_url"
                      placeholder="选填" type="text"
                      value="{{ form.source_url.data or "" }}">
               <img class="source-favicon" src="" alt=""/>
            </div>
            {{ field_error(form.source_url) }}
         </div>
      </div>

      <div class="submit-wap submit-right">
         <button type="submit" class="btn btn-submit btn-primary">
            {% if add %}分享{% else %}保存{% endif %}
         </button>
      </div>
   </form>

   <script type="text/javascript">
      $('.source-help').popover({
         trigger: 'hover',
         container: 'body',
         content: '如：书籍、电影、歌曲、文章标题等。'
      });

      // 若为原创，则无需填写其他内容
      if ($('#original').is(":checked")) {
         $('.external').hide();
      }

      $('#original').change(function () {
         if ($(this).is(":checked")) {
            $('.external').slideUp('fast');
         } else {
            $('.external').slideDown('fast');
         }
      });

      var timer = null,
            sourceFavicon = $('.source-favicon'),
            sourceUrlInput = $('#source_url');

      if ($.trim(sourceUrlInput.val()) !== "") {
         sourceFavicon.attr('src', 'http://g.soz.im/' + sourceUrlInput.val());
      }

      // 输入source url时，加载favicon
      sourceUrlInput.keyup(function () {
         var input = $(this);
         clearTimeout(timer);
         timer = setTimeout(function () {
            sourceFavicon.attr('src', 'http://g.soz.im/' + input.val());
         }, 500);
      });

      // 图片加载失败时，隐藏
      sourceFavicon.load(function () {
         $(this).fadeIn('fast');
      }).error(function () {
         $(this).hide();
      });
   </script>
{% endmacro %}
