{% from 'macro/form.html' import vertical_field, field_error, form_submit %}
{% from 'macro/script.html' import full_screen_script %}


{% macro pagination(paginator) %}
   {% if paginator.pages > 1 %}
      <ul class='pagination pagination-sm clearfix'>
         {% if paginator.has_prev %}
            <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
         {% endif %}

         {% for page in paginator.iter_pages() %}
            {% if page %}
               {% if page != paginator.page %}
                  <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
               {% else %}
                  <li class="active"><span>{{ page }}</span></li>
               {% endif %}
            {% else %}
               <li class="ellipsis"><span>...</span></li>
            {% endif %}
         {% endfor %}

         {% if paginator.has_next %}
            <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
         {% endif %}
      </ul>
   {% endif %}
{% endmacro %}


{% macro render_piece_source(piece, with_link=True) %}
   {% if piece.original or piece.author or piece.source %}
      <div class="source-wap">
         {% if piece.original %}
            <span class="source">原创</span>
         {% else %}
            <span class="source">{{ piece.source_string }}</span>

            {% if with_link and piece.source_link %}
               <a href="{{ piece.source_link }}" class="source-link" target="_blank"
                  title="相关链接">
                  <span class="fa fa-link fa-rotate-90"></span>
               </a>
            {% endif %}
         {% endif %}
      </div>
   {% endif %}
{% endmacro %}


{% macro render_user_avatar(user) %}
   <a href="{{ url_for('user.profile', uid=user.id) }}" class="user-avatar-link">
      <img src="{{ user.avatar_url }}" class="user-avatar user-avatar-popover img-circle"
           data-user-id="{{ user.id }}" alt=""/></a>
   <div class="popover-content-wap">
      <div class="user-card">
         <a href="{{ url_for('user.profile', uid=user.id) }}" class="user-link">
            <img src="{{ user.avatar_url }}" class="user-avatar img-circle" alt=""/>
         </a>

         <div class="user-name">
            {{ user.name }}
         </div>

         <div class="meta clearfix">
            <div class="count-wap votes-count">
               <a href="{{ url_for('user.profile', uid=user.id) }}">
                  {{ user.votes_count }}<br/><span class="count-quantifier">顶</span>
               </a>
            </div>
            <div class="count-wap pieces-count">
               <a href="{{ url_for('user.share', uid=user.id) }}">
                  {{ user.pieces_count }}<br/><span class="count-quantifier">分享</span>
               </a>
            </div>
            <div class="count-wap collections-count">
               <a href="{{ url_for('user.likes', uid=user.id) }}">
                  {{ user.liked_collections_count }}<br/><span class="count-quantifier">收藏</span>
               </a>
            </div>
         </div>
      </div>
   </div>
{% endmacro %}


{% macro render_collections(collections, attr=None) %}
   <div class="collections-wap clearfix">
      {% for collection in collections %}
         {% if attr %}
            {% set collection = collection[attr] %}
         {% endif %}

         <div class="collection media" data-collection-id="{{ collection.id }}">
            <div class="media-left">
               <a href="#">
                  <img src="{{ collection.cover_url }}" alt=""
                       class="media-object img-circle collection-cover"/>
               </a>
            </div>

            <div class="media-body">
               <div class="title">{{ collection.title }}</div>
               <div class="desc">{{ collection.desc or "" }}</div>
            </div>

            <div class="btn-like-collection {% if collection.liked_by_user() %}liked{% endif %}"
                 data-id="{{ collection.id }}">
               <span class="fa fa-bookmark-o" title="收藏句集"></span>
               <span class="fa fa-bookmark" title="取消收藏"></span>
            </div>
         </div>
      {% endfor %}
   </div>

   <script type="text/javascript">
      (function () {
         $('.collection').click(function () {
            var collectionId = $(this).data('collection-id');
            window.location = urlFor('collection.view', {'uid': collectionId});
         });

         $('.btn-like-collection').click(function (e) {
            var id = $(this).data('id');
            var url = "";
            var _this = $(this);
            var liked = $(this).hasClass('liked');

            if (liked) {
               url = urlFor('collection.unlike', {uid: id});
            } else {
               url = urlFor('collection.like', {uid: id});
            }

            $.ajax({
               url: url,
               method: 'post',
               dataType: 'json'
            }).done(function (response) {
               if (response.result) {
                  _this.toggleClass('liked');
               }
            });

            e.stopPropagation();
         });
      })();
   </script>
{% endmacro %}


{% macro render_piece_comment(comment) %}
   <a name="comment_{{ comment.id }}"></a>
   <div class="comment {% if sub %}sub-comment{% endif %}">
      <div class="media">
         <div class="media-left">
            {{ render_user_avatar(comment.user) }}
         </div>

         <div class="media-body">
            <div class="comment-user">
               {{ comment.user.name }}
               {% if comment.root_comment_id %}
                  <span class="to-target-user">回复</span> {{ comment.target_user.name }}
               {% endif %}
            </div>
            <div class="comment-content">{{ comment.content }}</div>
            <div class="comment-meta">
               <span class="options">
                  {% set votes_count = comment.votes.count() %}
                  <a href="javascript: void(0)" title="顶"
                     class="btn-vote-comment need-signed-in
                        {% if votes_count %}voted-by-people{% endif %}
                        {% if comment.voted_by_user() %}voted-by-me{% endif %}"
                     data-id="{{ comment.id }}">
                     <span class="fa fa-angle-up"></span>
                     <span class="comment-votes-count">{{ votes_count }}</span>
                     <span class="comment-vote-text">顶</span>
                  </a>

                  <a href="javascript: void(0)" class="btn-show-comment-form need-signed-in"
                     title="回复" data-target-user-name="{{ comment.user.name }}"
                     data-root-comment-id="{{ comment.root_comment_id or comment.id }}"
                     data-target-user-id="{{ comment.user_id }}">
                     <span class="fa fa-comment-o"></span>
                  </a>
               </span>

               <div class="comment-time pull-right">
                  {{ comment.created_at|timesince }}
               </div>
            </div>
         </div>
      </div>
   </div>
{% endmacro %}


{% macro render_piece_sub_comments(comment) %}
   <div class="sub-comments-wap" data-root-comment-id="{{ comment.id }}">
      <div class="inner-wap">
         {% for sub_comment in comment.sub_comments %}
            {{ render_piece_comment(sub_comment) }}
         {% endfor %}
      </div>

      <form action="" class="form-sub-comment">
         <div class="form-group">
            <textarea name="" rows="4" class="form-control sub-comment-textarea"
                      placeholder=""></textarea>
         </div>
         <div class="submit-wap submit-right">
            <span class="btn-cancel-submit-sub-comment">取消</span>
            <button type="button" class="btn btn-sm btn-submit-sub-comment btn-primary"
                    data-piece-id="{{ comment.piece_id }}">回复
            </button>
         </div>
      </form>
   </div>
{% endmacro %}


{% macro render_piece_comments(piece) %}
   <div class="subtitle">{{ piece.comments.count() }} 评论</div>

   {% if g.user %}
      <form action="" id="form-comment">
         <div class="form-group">
            <textarea name="" id="comment-textarea" rows="5" class="form-control"
                      placeholder="说点什么"></textarea>
         </div>
         <div class="submit-wap submit-right">
            <button type="button" class="btn btn-sm btn-comment btn-primary">评论</button>
         </div>
      </form>
   {% else %}
      <div class="comment-after-signed-in-wap">
         <a href="{{ url_for('account.signin') }}">登陆</a> 后评论
      </div>
   {% endif %}

   <div class="comments-wap">
      {% for comment in piece.root_comments %}
         {{ render_piece_comment(comment) }}
         {{ render_piece_sub_comments(comment) }}
      {% endfor %}
   </div>

   <script type="text/javascript">
      (function () {
         var pieceId = {{ piece.id }};

         // 评论
         $('.btn-comment').click(function () {
            var comment = $.trim($('#comment-textarea').val());

            if (comment === "") {
               return;
            }

            $.ajax({
               url: urlFor('piece.comment', {uid: pieceId}),
               method: 'post',
               data: {
                  comment: comment
               }
            }).done(function (comment) {
               var $comment = $(comment);

               $comment.hide();
               $('#comment-textarea').val('');
               $('.comments-wap').prepend($comment);
               $comment.fadeIn();
            });
         });

         // 顶评论
         $(document).onOnce('click', '.btn-vote-comment', function () {
            var commentId = $(this).data('id');
            var url = "";
            var _this = $(this);
            var voted = $(this).hasClass('voted-by-me');

            if (voted) {
               url = urlFor('piece.unvote_comment', {uid: commentId});
            } else {
               url = urlFor('piece.vote_comment', {uid: commentId});
            }

            $.ajax({
               url: url,
               dataType: 'json',
               method: 'post'
            }).done(function (response) {
               if (response.result) {
                  _this.toggleClass('voted-by-me');

                  var $votesCountElement = _this.find('.comment-votes-count');
                  var votesCount = parseInt($.trim($votesCountElement.text()));

                  if (voted) {
                     votesCount -= 1;
                  } else {
                     votesCount += 1;
                  }
                  $votesCountElement.text(votesCount);

                  if (votesCount === 0) {
                     _this.removeClass('voted-by-people');
                  }
               }
            });
         });

         // 打开评论回复form
         $(document).onOnce('click', '.btn-show-comment-form', function () {
            var rootCommentId = $(this).data('root-comment-id');
            var targetUserId = $(this).data('target-user-id');
            var targetUserName = $(this).data('target-user-name');
            var $subCommentForm = $(".sub-comments-wap[data-root-comment-id='" + rootCommentId + "'] form");

            if (!$(document.body).hasClass('signed-in')) {
               return;
            }

            $('.form-sub-comment').hide();
            $subCommentForm.show();
            $subCommentForm.find('textarea').attr('placeholder', '回复 ' + targetUserName).focus();
            $subCommentForm.attr({
               'data-root-comment-id': rootCommentId,
               'data-target-user-id': targetUserId
            });
         });

         // 提交对评论的回复
         $(document).onOnce('click', '.btn-submit-sub-comment', function () {
            var $form = $(this).parents('form').first();
            var comment = $.trim($form.find('textarea').val());
            var rootCommentId = $form.data('root-comment-id');
            var targetUserId = $form.data('target-user-id');

            if (comment === '') {
               return;
            }

            $.ajax({
               url: urlFor('piece.comment', {uid: pieceId}),
               method: 'post',
               data: {
                  comment: comment,
                  'root_comment_id': rootCommentId,
                  'target_user_id': targetUserId
               }
            }).done(function (comment) {
               var $comment = $(comment);

               $('.sub-comment-textarea').val('');
               $form.hide();
               $comment.hide();
               $form.parent().find('.inner-wap').append($comment);
               $comment.fadeIn();
            });
         });

         // 取消回复评论
         $(document).onOnce('click', '.btn-cancel-submit-sub-comment', function () {
            var $form = $(this).parents('form').first();

            $form.find('textarea').val('');
            $form.hide();
         });
      })();
   </script>
{% endmacro %}


{% macro render_collection_tag_wap(collection) %}
   <span class="collection-tag-wap" data-id="{{ collection.id }}">
      <a class="collection-tag" href="{{ url_for('collection.view', uid=collection.id) }}">
         {{ collection.title }}</a><a href="javascript: void(0)" class="btn-delete-collection"
                                      data-id="{{ collection.id }}"><span
         class="fa fa-close"></span></a>
   </span>
{% endmacro %}


{% macro render_piece_logs(piece) %}
   <div class="subtitle">句子编辑日志</div>

   {% for log in piece.logs %}
      <div class="piece-log media">
         <div class="media-left">{{ render_user_avatar(log.user) }}</div>
         <div class="media-body">
            <div class="title">
               <a href="{{ url_for('user.profile', uid=log.user_id) }}">
                  {{ log.user.name }}
               </a>

               {% if log.kind == PIECE_EDIT_KIND.CREATE %}
                  分享了句子
               {% elif log.kind == PIECE_EDIT_KIND.ADD_TO_COLLECTION %}
                  添加了话题
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_FROM_COLLECTION %}
                  移除了话题
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_CONTENT %}
                  编辑了句子
               {% elif log.kind == PIECE_EDIT_KIND.CHANGE_TO_ORIGINAL %}
                  将句子设为原创
               {% elif log.kind == PIECE_EDIT_KIND.CHANGE_TO_NON_ORIGINAL %}
                  将句子设为引用
               {% elif log.kind == PIECE_EDIT_KIND.ADD_AUTHOR %}
                  添加了原作者
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_AUTHOR %}
                  更新了原作者
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_AUTHOR %}
                  移除了原作者
               {% elif log.kind == PIECE_EDIT_KIND.ADD_SOURCE %}
                  添加了出处
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_SOURCE %}
                  更新了出处
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_SOURCE %}
                  移除了出处
               {% elif log.kind == PIECE_EDIT_KIND.ADD_SOURCE_LINK %}
                  添加了链接
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_SOURCE_LINK %}
                  更新了链接
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_SOURCE_LINK %}
                  移除了链接
               {% endif %}
            </div>

            <div class="content">
               {% if log.kind == PIECE_EDIT_KIND.ADD_TO_COLLECTION %}
                  <a href="{{ url_for('collection.view', uid=log.after_id) }}" target="_blank">
                     <ins class="collection">{{ log.after }}</ins>
                  </a>
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_FROM_COLLECTION %}
                  <a href="{{ url_for('collection.view', uid=log.before_id) }}" target="_blank">
                     <del class="collection">{{ log.before }}</del>
                  </a>
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_CONTENT %}
                  {{ log.compare|safe }}
               {% elif log.kind == PIECE_EDIT_KIND.ADD_AUTHOR %}
                  <ins>{{ log.after }}</ins>
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_AUTHOR %}
                  <del>{{ log.before }}</del>
                  <span class="fa fa-long-arrow-right"></span>
                  <ins>{{ log.after }}</ins>
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_AUTHOR %}
                  <del>{{ log.before }}</del>
               {% elif log.kind == PIECE_EDIT_KIND.ADD_SOURCE %}
                  <ins>{{ log.after }}</ins>
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_SOURCE %}
                  <del>{{ log.before }}</del>
                  <span class="fa fa-long-arrow-right"></span>
                  <ins>{{ log.after }}</ins>
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_SOURCE %}
                  <del>{{ log.before }}</del>
               {% elif log.kind == PIECE_EDIT_KIND.ADD_SOURCE_LINK %}
                  <a href="{{ log.after }}" target="_blank">
                     <ins class="link">{{ log.after }}</ins>
                  </a>
               {% elif log.kind == PIECE_EDIT_KIND.UPDATE_SOURCE_LINK %}
                  <a href="{{ log.before }}" target="_blank">
                     <del class="link">{{ log.before }}</del>
                  </a>
                  <span class="fa fa-long-arrow-right"></span>
                  <a href="{{ log.after }}" target="_blank">
                     <ins class="link">{{ log.after }}</ins>
                  </a>
               {% elif log.kind == PIECE_EDIT_KIND.REMOVE_SOURCE_LINK %}
                  <a href="{{ log.before }}" target="_blank">
                     <del class="link">{{ log.before }}</del>
                  </a>
               {% endif %}
            </div>

            <div class="log-meta">
               {{ log.created_at|timesince }}
               <a href="#" class="btn-report-abuse need-signed-in">
                  {# <span class="fa fa-exclamation-triangle" title="举报恶意编辑"></span> #}
                  举报
               </a>
            </div>
         </div>
      </div>
   {% endfor %}
{% endmacro %}


{% macro render_piece_details_wap(piece) %}
   <div class="piece-details-wap" data-piece-id="{{ piece.id }}">
   <div class="media piece-header">
      <div class="media-left">
         <div class="vote {% if piece.voted_by_user() %}voted{% endif %} need-signed-in"
              data-piece-id={{ piece.id }}>
            <div class="vote-icon">
               <span class="fa fa-angle-up"></span>
            </div>
            <div class="votes-count">{{ piece.votes_count }}</div>
         </div>
      </div>

      <div class="media-body">
         <div class="content">{{ piece.content }}</div>

         {{ render_piece_source(piece) }}
      </div>
   </div>

   <div class="meta clearfix">
      <div class="pull-left">
         {{ render_user_avatar(piece.user) }}
         <span class="created-time hidden-xs">发布于 {{ piece.created_at|timesince }}</span>
      </div>

      <div class="actions pull-right">
         {% if permissions.PieceEditPermission(piece).check() %}
            <a href="{{ url_for('piece.edit', uid=piece.id) }}" class="btn-edit-piece"
               title="编辑句子">
               <span class="fa fa-pencil"></span> <span class="btn-text">编辑</span></a>
         {% endif %}

         <a href="javascript: void(0)" class="btn-full-screen" title="全屏"
            data-content="{{ piece.content }}"
            data-source-string="{{ piece.source_string }}">
            <span class="fa fa-arrows-alt "></span> 全屏</a>

         <a class="btn-show-logs-wap" href="javascript: void(0)" title="句子编辑日志">
            <span class="fa fa-file-text-o"></span> 日志
         </a>

         <a href="javascript: void(0)" class="btn-share">
            <span class="fa fa-share"></span> 分享</a>
      </div>
   </div>

   <div class="collections-container {% if not piece.collections.count() %}empty{% endif %}">
      <div class="collections-inner-container">
         <span class="collections">
            {% for collection in piece.collections %}
               {% set collection = collection.collection %}
               {{ render_collection_tag_wap(collection) }}
            {% endfor %}
         </span>

         {% if g.user %}
            <a href="javascript: void(0)" class="btn-edit-collection" title="编辑句集">
               <span class="fa fa-pencil"></span></a>
            <a href="javascript: void(0)" class="btn-add-collection">
               <span class="fa fa-plus"></span> 添加句集</a>
         {% endif %}
      </div>

      <div class="form-group collection-input-wap">
         <input type="text" id="input-collection" class="form-control"
                placeholder="输入句集，回车确认"/>
         <span class="btn-finish-add-collection">完成</span>
      </div>
   </div>

   <div class="subtitle">{{ piece.votes_count }} 顶</div>

   <div class="voters">
      {% for voter in piece.voters %}
         {{ render_user_avatar(voter.user) }}
      {% endfor %}
   </div>

   {{ render_piece_comments(piece) }}

   <div class="piece-logs-wap">
      <span class="btn-close-logs-wap">×</span>
      {{ render_piece_logs(piece) }}
   </div>

   <div class="share-wap">
      <span class="btn-close-share-wap">×</span>

      <div class="inner-wap">
         <a href="{{ piece.weibo_share_url }}"
            class="btn btn-default btn-share-to-weibo" target="_blank">
            <img src="{{ static('image/media/weibo.png') }}"
                 class="weibo-icon" alt=""/>&nbsp;分享到微博
         </a>

         <div class="devider">或</div>

         <div class="share-to-weixin-wap">
            <img src="{{ piece.qrcode_url }}" class="piece-qrcode" alt=""/>

            <div>
               <span class="fa fa-weixin"></span>&nbsp;&nbsp;分享到微信
            </div>
         </div>
      </div>
   </div>

   <script type="text/javascript">
      (function () {
         var timerForTypeahead = null;
         var pieceId = {{ piece.id }};
         var $collectionInput = $('#input-collection');
         var $detailsParentWap = $('.piece-details-wap').parent();
         var isModal = $detailsParentWap.hasClass('piece-modal-wap');   //是否为右侧弹出框

         if (isModal) {
            $('.share-wap').isolatedScroll();
            $('.piece-logs-wap').isolatedScroll();
         }

         // 弹出分享框
         $('.btn-share').click(function () {
            var $shareInnerWap = $('.share-wap .inner-wap');
            var marginTop = 0;

            $('.share-wap').show();
            marginTop = ($detailsParentWap.outerHeight() - $shareInnerWap.outerHeight()) * 0.4;

            if (isModal) {
               if (marginTop < 30) {
                  marginTop = 30;
               }
            } else {
               if (marginTop > 150) {
                  marginTop = 150;
               }
            }

            $shareInnerWap.css('marginTop', marginTop + 'px');
            $('.share-wap').transition({
               'top': '0',
               'opacity': 1
            }, 300);
         });

         // 关闭分享框
         $('.btn-close-share-wap').click(function () {
            $('.share-wap').transition({
               'top': '15px',
               'opacity': 0
            }, 300, function () {
               $('.share-wap').hide();
            });
         });

         // 弹出编辑记录框
         $('.btn-show-logs-wap').click(function () {
            $('.piece-logs-wap').show().transition({
               'top': '0',
               'opacity': 1
            }, 300);
         });

         // 关闭编辑记录框
         $('.btn-close-logs-wap').click(function () {
            $('.piece-logs-wap').transition({
               'top': '15px',
               'opacity': 0
            }, 300, function () {
               $('.piece-logs-wap').hide();
            });
         });

         // 启动Typeahead自动完成
         $collectionInput.typeahead({
            minLength: 1,
            highlight: true,
            hint: false
         }, {
            displayKey: 'value',
            source: function (q, cb) {
               if (timerForTypeahead) {
                  clearTimeout(timerForTypeahead);
               }

               timerForTypeahead = setTimeout(function () {
                  $.ajax({
                     url: urlFor('collection.query'),
                     method: 'post',
                     dataType: 'json',
                     data: {
                        q: q,
                        piece_id: pieceId
                     }
                  }).done(function (matchs) {
                     cb(matchs);
                  });
               }, 300);
            },
            templates: {
               'suggestion': function (data) {
                  return '<p>' + data.value + '</p>';
               }
            }
         });

         // Fix the vertical align bug of .btn-finish-add-collection
         $collectionInput.css('verticalAlign', 'baseline');

         // 通过选择autocomplete菜单项添加句集
         $collectionInput.on('typeahead:selected', function (e, collection) {
            addToCollection(pieceId, {collection_id: collection.id});
         });

         // 通过回车添加句集
         $collectionInput.on('keypress', function (e) {
            if (e.which === 13) {
               addToCollection(pieceId, {title: $(this).val()});
            }
         });

         // 进入添加句集模式
         $('.btn-add-collection, .btn-edit-collection').click(function () {
            enterEditCollectionMode();
         });

         // 删除句集
         $('.collections-container').on('click', '.btn-delete-collection', function () {
            var collectionId = $(this).data('id');
            var _this = $(this);

            $.ajax({
               url: urlFor('piece.remove_from_collection', {uid: pieceId, collection_id: collectionId}),
               method: 'post',
               dataType: 'json'
            }).done(function (response) {
               if (response.result) {
                  _this.parent().detach();
                  checkCollectionsCount();
               }
            });
         });

         // 完成添加句集
         $('.btn-finish-add-collection').click(function () {
            quitEditCollectionMode();
         });

         /**
          * 将句子添加到句集
          * @param {int|string} pieceId - 句子的id
          * @param {Object} data - Ajax请求的data部分，key为title或collection_id
          */
         function addToCollection(pieceId, data) {
            $.ajax({
               url: urlFor('piece.add_to_collection', {uid: pieceId}),
               method: 'post',
               dataType: 'json',
               data: data
            }).done(function (response) {
               if (response.result) {
                  if (!$(".collections .collection[data-id='" + response.id + "']").length) {
                     $(".collections").append(response.html);
                     checkCollectionsCount();
                  }
                  $('#input-collection').typeahead('val', '');
               }
            });
         }

         /**
          * Check if there is no collection, and update elements status.
          */
         function checkCollectionsCount() {
            if ($('.collection-tag').length === 0) {
               $('.collections-container').addClass('empty');
            } else {
               $('.collections-container').removeClass('empty');
            }
         }

         /**
          * Enter edit collection mode.
          */
         function enterEditCollectionMode() {
            $('.collections-container').addClass('edit-mode');
            $('#input-collection').focus();
         }

         /**
          * Quit edit collection mode.
          */
         function quitEditCollectionMode() {
            $('#input-collection').typeahead('val', '');
            $('.collections-container').removeClass('edit-mode');
         }
      })();
   </script>
   </div>
{% endmacro %}


{% macro render_piece_modal_wap(piece) %}
   <div class="piece-modal-wap" data-piece-id="{{ piece.id if piece }}">
      {% if piece %}
         {{ render_piece_details_wap(piece) }}
      {% endif %}
   </div>

   <script type="text/javascript">
      // 弹出侧边栏
      $(document).on('click', '.pieces-wap .piece', function (event) {
         // 链接和vote不触发此事件
         if (event.target.tagName.toLowerCase() === 'a'
               || $(event.target).parent('a').length
               || $(event.target).hasClass('user-avatar')
               || $(event.target).hasClass('vote')
               || $(event.target).parents('.vote').length) {
            return true;
         }

         var pieceId = parseInt($(this).attr('data-piece-id')),
               pieceModal = $('.piece-modal-wap').first(),
               pieceIdOfModal = parseInt(pieceModal.attr('data-piece-id'));

         // 点击的piece与modal的piece一致
         if (pieceId === pieceIdOfModal) {
            if (pieceModal.hasClass('open')) {
               closeModal(pieceId);
            } else {
               openModal(pieceId);
            }
         } else {
            showLoadingFlag(pieceModal);

            if (pieceModal.hasClass('open')) {
               pieceModal.attr('data-piece-id', pieceId);
               addClicksCount(pieceId);

               $.ajax({
                  url: urlFor('piece.modal', {uid: pieceId}),
                  success: function (modal) {
                     $('.piece-modal-wap').html(modal);
                  }
               });
            } else {
               openModal(pieceId, function () {
                  pieceModal.attr('data-piece-id', pieceId);
                  $.ajax({
                     url: urlFor('piece.modal', {uid: pieceId}),
                     success: function (modal) {
                        $('.piece-modal-wap').html(modal);
                     }
                  });
               });
            }
         }
      });

      /**
       * Open the piece modal.
       * @param pieceId
       * @param callback
       */
      function openModal(pieceId, callback) {
         addClicksCount(pieceId);

         $('.piece-modal-wap').stop().transition({'right': '0'}, 400, function () {
            $(this).addClass('open');

            if ($.isFunction(callback)) {
               callback();
            }
         });
      }

      /**
       * Close the piece modal.
       * @param callback
       */
      function closeModal(callback) {
         $('.piece-modal-wap').stop().transition({
            'right': '-' + ($('.piece-modal-wap').outerWidth() + 3) + 'px'
         }, 400, function () {
            quitEditCollectionMode();
            closeUpperLayers();
            $(this).removeClass('open');

            if ($.isFunction(callback)) {
               callback();
            }
         });
      }

      /**
       * Add piece's clicks count.
       * @param pieceId
       */
      function addClicksCount(pieceId) {
         $.ajax({
            url: urlFor('piece.add_clicks_count', {uid: pieceId}),
            method: 'post'
         });
      }

      /**
       * Show the loading flag.
       * @param pieceModal
       */
      function showLoadingFlag(pieceModal) {
         pieceModal.html("<span class='fa fa-spinner fa-spin flag-loading-piece'></span>");
      }

      /**
       * Quit edit collection mode.
       */
      function quitEditCollectionMode() {
         $('#input-collection').typeahead('val', '');
         $('.collections-container').removeClass('edit-mode');
      }

      /**
       * Close layers upon piece modal.
       */
      function closeUpperLayers() {
         $('.share-wap').hide();
      }
   </script>
{% endmacro %}


{% macro render_pieces(pieces, attr=None) %}
   <div class="pieces-wap">
      {% for piece in pieces %}
         {% if attr %}
            {% set piece = piece[attr] %}
         {% endif %}

         <div class="piece {% if loop.last %}last{% endif %}" data-piece-id={{ piece.id }}>
            <div class="media">
               <div class="media-left">
                  <div class="vote {% if piece.voted_by_user() %}voted{% endif %} need-signed-in"
                       data-piece-id={{ piece.id }}>
                     <div class="vote-icon">
                        <span class="fa fa-angle-up"></span>
                     </div>
                     <div class="votes-count">{{ piece.votes_count }}</div>
                  </div>
               </div>

               <div class="media-body">
                  <div class="pull-right text-right">
                     {{ render_user_avatar(piece.user) }}

                     <div class="comments-count text-right">
                        {{ piece.comments.count() }} <span class="fa fa-comment"></span>
                     </div>
                  </div>

                  <div class="content">
                     {{ piece.content }}
                  </div>

                  <div class="meta">
                     {{ render_piece_source(piece, false) }}

                     <div class="options">
                        <a href="javascript: void(0)" class="btn-full-screen" title="全屏"
                           data-content="{{ piece.content }}"
                           data-source-string="{{ piece.source_string }}">
                           <span class="fa fa-arrows-alt "></span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      {% endfor %}

      {{ full_screen_script() }}
   </div>

   {% set first_piece = pieces|first %}
   {% if first_piece and attr %}
      {% set first_piece = first_piece[attr] %}
   {% endif %}
   {{ render_piece_modal_wap(first_piece) }}
{% endmacro %}


{% macro render_pieces_by_date(pieces_data, page, pre_page, next_page) %}
   <div class="panel panel-primary pieces-by-date-wap">
      <div class="panel-heading date">{{ pieces_data.date_string }}</div>

      <div class="panel-body">
         {% if pieces_data.pieces.count() %}
            {{ render_pieces(pieces_data.pieces) }}
         {% else %}
            <div class="text-center share-piece">
               {% if page == 1 %}
                  <a href="{{ url_for('piece.add') }}" class="need-signed-in">
                     <span class="fa fa-plus"></span> 分享句子
                  </a>
               {% else %}
                  无
               {% endif %}
            </div>
         {% endif %}

         {% if pieces_data.hide_pieces_count %}
            <div class="hide-pieces">
               {{ render_pieces(pieces_data.hide_pieces) }}
            </div>
         {% endif %}
      </div>

      {% if pieces_data.hide_pieces_count %}
         <div class="panel-footer text-center">
            <div class="btn-show-hide-pieces">
               展开其余 {{ pieces_data.hide_pieces_count }} 段文字
            </div>
         </div>
      {% endif %}

      <div class="pieces-pager clearfix">
         <a class="pre-page {% if not pre_page %}disabled{% endif %}"
            {% if pre_page %}href="{{ url_for('site.index', page=pre_page) }}"{% endif %}>
            <span class="fa fa-angle-left"></span>
         </a>
         <a class="next-page" href="{{ url_for('site.index', page=next_page) }}">
            <span class="fa fa-angle-right"></span>
         </a>
      </div>
   </div>

   <script type="text/javascript">
      // 显示被隐藏的句子
      $(document).on('click', '.btn-show-hide-pieces', function () {
         $(this).parents('.pieces-by-date-wap').first().find('.hide-pieces').show();
         $(this).parents('.panel-footer').first().detach();
      });
   </script>
{% endmacro %}


{% macro render_user_profile_header(user, active="creates") %}
   <div class="user-profile-header">
      <div class="user-info">
         <img src="{{ user.avatar_url }}" class="user-avatar img-circle" alt=""/>

         <div class="user-name">{{ user.name }}</div>

         {% if user.motto %}
            <div class="motto">{{ user.motto }}</div>
         {% endif %}

         <div class="media-icons">
            {% if user.blog %}
               <a href="{{ user.blog }}" target="_blank" title="博客">
                  <img src="{{ static('image/media/blog.png') }}" alt=""/>
               </a>
            {% endif %}
            {% if user.weibo %}
               <a href="{{ user.weibo }}" target="_blank" title="微博">
                  <img src="{{ static('image/media/weibo.jpg') }}" alt=""/>
               </a>
            {% endif %}
            {% if user.douban %}
               <a href="{{ user.douban }}" target="_blank" title="豆瓣">
                  <img src="{{ static('image/media/douban.png') }}" alt=""/>
               </a>
            {% endif %}
            {#            {% if user.zhihu %}#}
            {#               <a href="{{ user.zhihu }}" target="_blank" title="知乎">#}
            {#                  <img src="{{ static('image/media/zhihu.png') }}" alt=""/>#}
            {#               </a>#}
            {#            {% endif %}#}
         </div>
      </div>

      <div class="tab clearfix">
         <a class="tab-item {% if active == "votes" %}active{% endif %}"
            href="{{ url_for('user.profile', uid=user.id) }}">
            {{ user.votes_count }} 顶
         </a>
         <a class="tab-item {% if active == "share" %}active{% endif %}"
            href="{{ url_for('user.share', uid=user.id) }}">
            {{ user.pieces_count }} 分享
         </a>
         <a class="tab-item {% if active == "likes" %}active{% endif %}"
            href="{{ url_for('user.likes', uid=user.id) }}">
            {{ user.liked_collections_count }} 收藏
         </a>
      </div>
   </div>
{% endmacro %}


{% macro render_piece_form(form, add=True) %}
   <form method="post" class="form-piece">
      {{ form.csrf_token() }}

      <div class="form-group">
         <label for="content">句子</label>

         <span class="tip">
            <span class="positive">还可以输入 <span class="content-length"></span> 字</span>
            <span class="negative">已超出 <span class="content-length"></span> 字</span>
         </span>

         <textarea class="form-control" id="content" name="content" placeholder=""
                   rows="5">{{ form.content.data or "" }}</textarea>
         {{ field_error(form.content) }}
      </div>

      {% set original = form.original.data %}
      <div class="btn-group btn-group-sm btn-group-original" data-toggle="buttons">
         <label class="btn btn-default {% if not original %}active{% endif %}">
            <input type="radio" name="original" value="false" autocomplete="off"
                   {% if not original %}checked="checked"{% endif %}> 引用
         </label>
         <label class="btn btn-default {% if original %}active{% endif %}">
            <input type="radio" name="original" value="true" autocomplete="off"
                   {% if original %}checked="checked"{% endif %}> 原创
         </label>
      </div>

      <div class="external">
         {{ vertical_field(form.author) }}

         <div class="form-group">
            <label for="source">
               出处 <span class="fa fa-question-circle source-help"></span>
            </label>
            <input class="form-control" id="source" name="source" placeholder="选填"
                   type="text" value="{{ form.source.data or "" }}">
            {{ field_error(form.source) }}
         </div>

         <div class="form-group">
            <label for="source_link">链接</label>

            <div class="source-url-wap">
               <input class="form-control" id="source_link" name="source_link"
                      placeholder="选填" type="text"
                      value="{{ form.source_link.data or "" }}">
               <img class="source-favicon" src="" alt=""/>
            </div>
            {{ field_error(form.source_link) }}
         </div>
      </div>

      <div class="submit-wap submit-right">
         <button type="submit" class="btn btn-submit btn-primary">
            {% if add %}分享{% else %}保存{% endif %}
         </button>
      </div>
   </form>

   <script type="text/javascript">
      (function () {
         var timerForContent = null,
               timerForSourceLink = null,
               sourceFavicon = $('.source-favicon'),
               sourceLinkInput = $('#source_link');

         $('.source-help').popover({
            trigger: 'hover',
            container: 'body',
            content: '如：书籍、电影、歌曲、文章标题等。'
         });

         updateWordCount();

         $('#content').keyup(function () {
            clearTimeout(timerForContent);
            timerForContent = setTimeout(updateWordCount, 100);
         });

         // 若为原创，则无需填写其他内容
         if ($('input[name=original]:checked').val() === 'true') {
            $('.external').hide();
         }

         $('input[name=original]').change(function () {
            if ($(this).val() === 'true') {
               $('.external').slideUp('fast');
            } else {
               $('.external').slideDown('fast');
            }
         });

         if ($.trim(sourceLinkInput.val()) !== "") {
            sourceFavicon.attr('src', 'http://g.soz.im/' + sourceLinkInput.val());
         }

         // 输入source url时，加载favicon
         sourceLinkInput.keyup(function () {
            var input = $(this);
            clearTimeout(timerForSourceLink);
            timerForSourceLink = setTimeout(function () {
               sourceFavicon.attr('src', 'http://g.soz.im/' + input.val());
            }, 500);
         });

         // change或input事件时，加载favicon
         sourceLinkInput.on('change input', function () {
            sourceFavicon.attr('src', 'http://g.soz.im/' + $(this).val());
         });

         // 图片加载失败时，隐藏
         sourceFavicon.load(function () {
            $(this).fadeIn('fast');
         }).error(function () {
            $(this).hide();
         });

         /**
          * 更新字数
          */
         function updateWordCount() {
            var content = $('#content').val();
            var contentRemainLength = 160 - calculateWordLength(content);

            $('.content-length').text(Math.abs(contentRemainLength));

            if (contentRemainLength >= 0) {
               $('.tip .positive').show();
               $('.tip .negative').hide();
            } else {
               $('.tip .positive').hide();
               $('.tip .negative').show();
            }
         }

         /**
          * Count word.
          * 总字数 = 中文字数 + 英文字数 / 2
          * @param content
          * @returns {number}
          */
         function calculateWordLength(content) {
            // 去除首尾空格，多个空格替换为1个空格
            content = $.trim(content).replace(/\s+/g, ' ');

            var cnLength = content.match(/[^ -~]/g) ? content.match(/[^ -~]/g).length : 0;
            var enLength = content.length - cnLength;
            return cnLength + Math.ceil(enLength / 2);
         }
      })();
   </script>
{% endmacro %}


{% macro render_collection_header(collection, active='latest') %}
   <div class="collection-header">
      <div class="collection-info">
         <div class="title">
            <span class="fa fa-book"></span>&nbsp;&nbsp;{{ collection.title }}
         </div>

         {% if collection.desc %}
            <div class="desc">{{ collection.desc }}</div>
         {% endif %}

         {% if collection.cover_url %}
            <img src="{{ collection.cover_url }}" alt=""
                 class="img-circle collection-cover"/>
         {% endif %}

         <div class="options">
            {#            <a href="javascript:void(0)" class="btn-play-collection"#}
            {#               data-id="{{ collection.id }}"#}
            {#               data-collection="{{ collection.title }}">#}
            {#               <span class="fa fa-play-circle"></span>#}
            {#            </a>#}

            {% if permissions.AdminPermission().check() %}
               <a href="{{ url_for('collection.edit', uid=collection.id) }}"
                  class="btn-edit-collection" title="编辑句集">
                  <span class="fa fa-pencil"></span>
               </a>
            {% endif %}

            <div class="btn-like-collection {% if collection.liked_by_user() %}liked{% endif %}"
                 data-id="{{ collection.id }}">
               <span class="fa fa-bookmark-o" title="收藏句集"></span>
               <span class="fa fa-bookmark" title="取消收藏"></span>
            </div>
         </div>
      </div>

      <div class="tab {% if g.user %}three{% else %}two{% endif %} clearfix">
         <a class="item {% if active == 'latest' %}active{% endif %}"
            href="{{ url_for('collection.view', uid=collection.id) }}">最新</a>
         <a class="item {% if active == 'hot' %}active{% endif %}"
            href="{{ url_for('collection.hot_view', uid=collection.id) }}">热门</a>
         {% if g.user %}
            <a class="item {% if active == 'voted' %}active{% endif %}"
               href="{{ url_for('collection.voted_view', uid=collection.id) }}">
               {{ collection.voted_pieces_by_user.count() }} 顶过</a>
         {% endif %}
      </div>
   </div>

   <script type="text/javascript">
      (function () {
         // 收藏句集
         $('.btn-like-collection').click(function (e) {
            var id = $(this).data('id');
            var url = "";
            var _this = $(this);
            var liked = $(this).hasClass('liked');

            if (liked) {
               url = urlFor('collection.unlike', {uid: id});
            } else {
               url = urlFor('collection.like', {uid: id});
            }

            $.ajax({
               url: url,
               method: 'post',
               dataType: 'json'
            }).done(function (response) {
               if (response.result) {
                  _this.toggleClass('liked');
               }
            });
         });

         // 播放句集
         $('.btn-play-collection').click(function () {
            var id = $(this).data('id');
            var collection = $(this).data('collection');

            $.ajax({
               url: urlFor('piece.random'),
               method: 'POST',
               dataType: 'json',
               data: {
                  collection_id: id
               }
            }).done(function (piece) {
               var html = "<div class='content'>" + piece.content + "</div>";

               if (piece.source) {
                  html += "<div class='source'>" + piece.source + "</div>";
               }

               openBackdrop('「' + collection + '」', html);
            });

            if (g.timerForBackdrop) {
               clearInterval(g.timerForBackdrop);
            }

            g.timerForBackdrop = setInterval(function () {
               $.ajax({
                  url: urlFor('piece.random'),
                  method: 'POST',
                  dataType: 'json',
                  data: {
                     collection_id: id
                  }
               }).done(function (piece) {
                  $('.full-screen-backdrop .content').hide().text(piece.content).fadeIn();
                  if (piece.source) {
                     $('.full-screen-backdrop .source').hide().text(piece.source).fadeIn();
                  } else {
                     $('.full-screen-backdrop .source').hide();
                  }

                  adjustBackdropContent();
               });
            }, 8000);
         });
      })();
   </script>
{% endmacro %}
