@import "utils";

// Table
.table-vertical-middle > tbody > tr > td {
  vertical-align: middle;
}

// Avatar
.avatar {
  width: 72px;
  height: 72px;
}

.avatar-sm {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 96px;
  height: 96px;
}

.avatar-xl {
  width: 176px;
  height: 176px;
}

// Layout
.col-top-gap {
  margin-top: 20px;
}

.submit-wap.submit-right {
  text-align: right;
}

.form-error {
  font-size: 12px;
  padding-top: 5px;
}

.text-light {
  color: #999;
}

.list-text {
  padding-left: 20px;

  li {
    padding-bottom: 5px;
  }
}

.list-no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.blur {
  transition: .15s -webkit-filter linear;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

ins {
  text-decoration: none;
  padding: 3px 0;
  background: #EAF0DD;
  color: #5B7918;
}

del {
  text-decoration: line-through;
  padding: 3px 0;
  background: #f5dfdf;
  color: #ac1414;
}
