@import "utils";

.piece-modal-wap {
  position: fixed;
  top: 0;
  right: -503px;
  bottom: 0;
  background-color: #fff;
  width: 500px;
  z-index: 1000;
  padding: 30px 20px;
  overflow: auto;
  box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.25);

  .piece-wap {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .media-left {
      padding-right: 18px;
    }

    .vote {
      background-color: #ffffff;
      border: 1px solid #E0E3E6;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;

      &:hover {
        border-color: #bbb;
      }

      &.voted {
        border-color: @main-color;
        color: @main-color;
      }

      .votes-count {
        line-height: 1;
        padding-bottom: 4px;
      }

      .vote-icon {
        line-height: 1;
      }
    }

    .content {
      margin-bottom: 15px;
      line-height: 1.6;
      font-size: 16px;
    }

    .source {
      color: #aaa;
      font-size: 12px;
    }

    .source_favicon {
      vertical-align: text-bottom;
      margin-right: 5px;
      width: 16px;
      height: 16px;
    }
  }

  .created-info {
    padding: 10px 0;
    line-height: 32px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;

    .user-avatar-link {
      margin-right: 8px;
      .user-avatar {
        width: 32px;
        height: 32px;
      }
    }

    .created-time {
      color: #aaa;
    }
  }

  .subtitle {
    font-size: 16px;
    color: #aaa;
    margin: 20px 0 15px 0;
  }

  .voters {
    img {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin: 0 8px 8px 0;
    }
  }

  .comment {
    margin-bottom: 15px;

    .user-avatar {
      width: 32px;
      height: 32px;
    }

    .comment-user {
      margin-bottom: 4px;

      .comment-time {
        font-size: 12px;
        color: #aaa;
        margin-left: 8px;
      }
    }
  }

  #comment-textarea {
    margin-top: 5px;
  }
}

/* 弹出的用户卡片 */

.popover-content-wap {
  display: none;
}

.user-avatar-link {
  &:focus,
  &:hover {
    text-decoration: none;
  }

  .user-avatar-popover {
    cursor: pointer;
  }
}

.user-card {
  padding: 20px 15px;
  .default-font-family();

  .user-avatar {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 10px;
  }

  .user-name {
    font-size: 16px;
    text-align: center;
  }
}

.pieces-by-date-wap {
  .hide-pieces {
    display: none;
  }

  .pieces-pager {
    border-top: 1px solid #eee;

    .pre-page,
    .next-page {
      text-align: center;
      width: 50%;
      padding: 10px 0;
      font-size: 20px;
      cursor: pointer;

      &.disabled {
        color: #aaa;

        &:hover {
          background-color: #ffffff;
          cursor: default;
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:hover {
        background-color: #f2f2f2;
      }
    }

    .pre-page {
      float: left;
      border-bottom-left-radius: 5px;
    }

    .next-page {
      float: right;
      border-bottom-right-radius: 5px;
    }
  }

  .share-piece {
    padding: 20px 0;

    a {
      color: #999;

      &:focus,
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

.pieces-by-date-wap {
  margin-bottom: 40px;

  .panel-body {
    padding: 0;
  }

  .panel-footer {
    border-top: none;

    .btn-show-hide-pieces {
      cursor: pointer;

      &:hover {
        color: @main-color;
      }
    }
  }
}

.piece {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 20px 20px 20px;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover {
    background-color: #f8f8f8;
  }

  .media-left {
    padding-right: 18px;
  }

  .user-avatar {
    width: 32px;
    height: 32px;
  }

  .comments-count {
    text-align: center;
    margin-top: 8px;
    color: #bbb;

    .fa {
      font-size: 12px;
      margin-left: 1px;
    }
  }

  .content {
    padding-right: 100px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 16px;
  }

  .source {
    color: #aaa;
    font-size: 12px;
  }

  .source_favicon {
    vertical-align: text-bottom;
    margin-right: 5px;
    width: 16px;
    height: 16px;
  }

  .vote {
    background-color: #ffffff;
    border: 1px solid #E0E3E6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

    &:hover {
      border-color: #bbb;
    }

    &.voted {
      border-color: @main-color;
      color: @main-color;
    }

    .votes-count {
      line-height: 1;
      padding-bottom: 4px;
    }

    .vote-icon {
      line-height: 1;
    }
  }
}

.user-profile-header {
  padding-top: 50px;
  position: relative;

  .user-info {
    text-align: center;
    margin-bottom: 35px;

    .user-avatar {
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
    }

    .user-name {
      font-size: 20px;
      text-align: center;
    }

    .motto {
      margin-top: 12px;
      color: #999;
    }

    .media-icons {
      text-align: center;
      margin-top: 12px;
      top: 20px;
      right: 20px;

      a {
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }

        &:focus,
        &:hover {
          text-decoration: none;
        }

        img {
          border-radius: 2px;
          height: 20px;
        }
      }
    }
  }

  .tab {
    text-align: center;

    .tab-item {
      text-decoration: none;
      float: left;
      display: block;
      line-height: 1;
      padding: 17px 0;
      width: 33.33333333%;
      background-color: #eee;
      color: #333;

      &.active,
      &:hover {
        background-color: @main-color;
        color: #ffffff;
      }
    }
  }
}

.piece-panel {
  .piece-wap {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .media-left {
      padding-right: 18px;
    }

    .vote {
      background-color: #ffffff;
      border: 1px solid #E0E3E6;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;

      &:hover {
        border-color: #bbb;
      }

      &.voted {
        border-color: @main-color;
        color: @main-color;
      }

      .votes-count {
        line-height: 1;
        padding-bottom: 4px;
      }

      .vote-icon {
        line-height: 1;
      }
    }

    .content {
      margin-bottom: 15px;
      line-height: 1.6;
      font-size: 16px;
    }

    .source {
      color: #aaa;
      font-size: 12px;
    }

    .source_favicon {
      vertical-align: text-bottom;
      margin-right: 5px;
      width: 16px;
      height: 16px;
    }
  }

  .created-info {
    padding: 10px 0;
    line-height: 32px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;

    .user-avatar-link {
      margin-right: 8px;
      .user-avatar {
        width: 32px;
        height: 32px;
      }
    }

    .created-time {
      color: #aaa;
    }
  }

  .subtitle {
    font-size: 16px;
    color: #aaa;
    margin: 20px 0 15px 0;
  }

  .voters {
    img {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin: 0 8px 8px 0;
    }
  }

  .comment {
    margin-bottom: 15px;

    .user-avatar {
      width: 32px;
      height: 32px;
    }

    .comment-user {
      margin-bottom: 4px;

      .comment-time {
        font-size: 12px;
        color: #aaa;
        margin-left: 8px;
      }
    }
  }

  #comment-textarea {
    margin-top: 5px;
  }
}