@import "utils";

.piece-modal {
  position: fixed;
  top: 0;
  right: -503px;
  bottom: 0;
  background-color: #fff;
  width: 500px;
  z-index: 1000;
  padding: 30px 20px;
  overflow-y: scroll;
  box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.25);

  .piece-wap {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .media-left {
      padding-right: 18px;
    }

    .vote {
      background-color: #ffffff;
      border: 1px solid #E0E3E6;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;

      &:hover {
        border-color: #bbb;
      }

      &.voted {
        border-color: @main-color;
        color: @main-color;
      }

      .votes-count {
        line-height: 1;
        padding-bottom: 4px;
      }

      .vote-icon {
        line-height: 1;
      }
    }

    .content {
      margin-bottom: 15px;
      line-height: 1.6;
      font-size: 16px;
    }

    .source {
      color: #aaa;
    }

    .source_favicon {
      vertical-align: text-bottom;
      margin-right: 5px;
      width: 16px;
      height: 16px;
    }
  }

  .created-info {
    padding: 10px 0;
    line-height: 32px;
    border-bottom: 1px solid #ddd;

    .user-avatar {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }

    .created-time {
      color: #aaa;

    }
  }

  .subtitle {
    font-size: 16px;
    color: #aaa;
    margin: 20px 0 15px 0;
  }

  .voters {
    img {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin: 0 8px 8px 0;
    }
  }

  .comment {
    margin-bottom: 15px;

    .user-avatar {
      width: 32px;
      height: 32px;
    }

    .comment-user {
      margin-bottom: 4px;

      .comment-time {
        font-size: 12px;
        color: #aaa;
        margin-left: 8px;
      }
    }
  }

  #comment-textarea {
    margin-top: 5px;
  }
}

.popover-content-wap {
  display: none;
}

.user-avatar {
  cursor: pointer;
}

.user-card {
  padding: 20px 15px;
  .default-font-family();

  .user-avatar-in-card {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 10px;
  }

  .user-name {
    font-size: 16px;
    text-align: center;
  }
}