.piece-modal-wap {
  position: fixed;
  top: 0;
  right: -503px;
  bottom: 0;
  background-color: #fff;
  width: 500px;
  z-index: 1000;
  padding: 30px 20px;
  overflow: auto;
  box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.piece-modal-wap .flag-loading-piece {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  margin-left: -15px;
  margin-top: -15px;
  color: #999;
}
.piece-details-wap .piece-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.piece-details-wap .piece-header .media-left {
  padding-right: 18px;
}
.piece-details-wap .piece-header .vote {
  background-color: #ffffff;
  border: 1px solid #E0E3E6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.piece-details-wap .piece-header .vote:hover {
  border-color: #bbb;
}
.piece-details-wap .piece-header .vote.voted {
  border-color: #1e88a8;
  color: #1e88a8;
}
.piece-details-wap .piece-header .vote .votes-count {
  line-height: 1;
  padding-bottom: 4px;
}
.piece-details-wap .piece-header .vote .vote-icon {
  line-height: 1;
}
.piece-details-wap .piece-header .content {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}
.piece-details-wap .piece-header .meta {
  color: #aaa;
  font-size: 12px;
}
.piece-details-wap .piece-header .meta .source-link {
  font-size: 13px;
  margin-left: 10px;
  color: #aaa;
}
.piece-details-wap .piece-header .meta .source-link:hover {
  color: #1e88a8;
}
.piece-details-wap .piece-header .meta .options {
  float: right;
  line-height: 1;
  margin-top: 1px;
}
.piece-details-wap .piece-header .meta .options .collect {
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
}
.piece-details-wap .piece-header .meta .options .collect.collected,
.piece-details-wap .piece-header .meta .options .collect:hover {
  color: #1e88a8;
}
.piece-details-wap .piece-header .meta .options .btn-edit-piece {
  margin-left: 20px;
  font-size: 14px;
  color: #aaa;
}
.piece-details-wap .piece-header .meta .options .btn-edit-piece:hover {
  color: #1e88a8;
}
.piece-details-wap .piece-header .meta .options .btn-text {
  font-size: 12px;
}
.piece-details-wap .created-info {
  padding: 10px 0;
  line-height: 32px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}
.piece-details-wap .created-info .user-avatar-link {
  margin-right: 8px;
}
.piece-details-wap .created-info .user-avatar-link .user-avatar {
  width: 32px;
  height: 32px;
}
.piece-details-wap .created-info .created-time {
  color: #aaa;
}
.piece-details-wap .subtitle {
  font-size: 16px;
  color: #aaa;
  margin: 20px 0 15px 0;
}
.piece-details-wap .voters img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 8px 8px 0;
}
.piece-details-wap .comment {
  margin-bottom: 15px;
}
.piece-details-wap .comment .user-avatar {
  width: 32px;
  height: 32px;
}
.piece-details-wap .comment .comment-user {
  margin-bottom: 4px;
}
.piece-details-wap .comment .comment-user .comment-time {
  font-size: 12px;
  color: #aaa;
  margin-left: 8px;
}
.piece-details-wap #form-comment .form-group {
  margin-top: 5px;
  margin-bottom: 12px;
}
.piece-details-wap .comment-after-signed-in-wap {
  padding: 12px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* 弹出的用户卡片 */
.popover-content-wap {
  display: none;
}
.user-avatar-link:focus,
.user-avatar-link:hover {
  text-decoration: none;
}
.user-avatar-link .user-avatar-popover {
  cursor: pointer;
}
.user-card {
  padding: 15px 0 2px 0;
  text-align: center;
  width: 130px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.user-card .user-link {
  display: inline-block;
  margin-bottom: 15px;
}
.user-card .user-link .user-avatar {
  width: 70px;
  height: 70px;
}
.user-card .user-name {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding-bottom: 12px;
}
.user-card .meta .count-wap {
  width: 33.333333333%;
  float: left;
}
.user-card .meta .count-wap > a {
  display: inline-block;
  color: #333;
  padding: 0 5px;
}
.user-card .meta .count-wap > a .count-quantifier {
  font-size: 12px;
}
.pieces-by-date-wap {
  margin-bottom: 40px;
}
.pieces-by-date-wap .panel-body {
  padding: 0;
}
.pieces-by-date-wap .panel-footer .btn-show-hide-pieces {
  cursor: pointer;
}
.pieces-by-date-wap .panel-footer .btn-show-hide-pieces:hover {
  color: #1e88a8;
}
.pieces-by-date-wap .hide-pieces {
  border-top: 1px solid #ddd;
  display: none;
}
.pieces-by-date-wap .pieces-pager {
  border-top: 1px solid #ddd;
}
.pieces-by-date-wap .pieces-pager .pre-page,
.pieces-by-date-wap .pieces-pager .next-page {
  text-align: center;
  width: 50%;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
}
.pieces-by-date-wap .pieces-pager .pre-page.disabled,
.pieces-by-date-wap .pieces-pager .next-page.disabled {
  color: #aaa;
}
.pieces-by-date-wap .pieces-pager .pre-page.disabled:hover,
.pieces-by-date-wap .pieces-pager .next-page.disabled:hover {
  background-color: #ffffff;
  cursor: default;
}
.pieces-by-date-wap .pieces-pager .pre-page:hover,
.pieces-by-date-wap .pieces-pager .next-page:hover,
.pieces-by-date-wap .pieces-pager .pre-page:focus,
.pieces-by-date-wap .pieces-pager .next-page:focus {
  text-decoration: none;
}
.pieces-by-date-wap .pieces-pager .pre-page:hover,
.pieces-by-date-wap .pieces-pager .next-page:hover {
  background-color: #f6f6f6;
}
.pieces-by-date-wap .pieces-pager .pre-page {
  float: left;
  border-bottom-left-radius: 5px;
}
.pieces-by-date-wap .pieces-pager .next-page {
  float: right;
  border-bottom-right-radius: 5px;
}
.pieces-by-date-wap .share-piece {
  padding: 20px 0;
}
.pieces-by-date-wap .share-piece a {
  color: #777;
}
.pieces-by-date-wap .share-piece a:focus,
.pieces-by-date-wap .share-piece a:hover {
  text-decoration: none;
  color: #333;
}
.piece {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 20px 20px 20px;
  cursor: pointer;
}
.piece:last-child {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.piece:hover {
  background-color: #f8f8f8;
}
.piece:hover .meta .options .collect,
.piece:hover .meta .options .btn-edit-piece,
.piece:hover .meta .options .btn-full-screen {
  visibility: visible;
}
.piece .media-left {
  padding-right: 18px;
}
.piece .user-avatar {
  width: 32px;
  height: 32px;
}
.piece .comments-count {
  text-align: center;
  margin-top: 8px;
  color: #bbb;
}
.piece .comments-count .fa {
  font-size: 12px;
  margin-left: 1px;
}
.piece .content {
  padding-right: 85px;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}
.piece .meta {
  color: #aaa;
  font-size: 12px;
}
.piece .meta .source-wap {
  margin-right: 25px;
}
.piece .meta .options {
  display: inline-block;
  margin-left: -5px;
  line-height: 1;
  vertical-align: text-bottom;
}
.piece .meta .options .collect {
  visibility: hidden;
  margin-right: 10px;
  padding: 0 5px;
  cursor: pointer;
  color: #aaa;
  font-size: 14px;
}
.piece .meta .options .collect .collect-text {
  font-size: 12px;
}
.piece .meta .options .collect.collected,
.piece .meta .options .collect:hover {
  color: #1e88a8;
}
.piece .meta .options .collect.collected {
  visibility: visible !important;
}
.piece .meta .options .btn-edit-piece {
  visibility: hidden;
  display: inline-block;
  padding: 0 5px;
  margin-right: 10px;
  color: #aaa;
  font-size: 14px;
}
.piece .meta .options .btn-edit-piece:hover {
  color: #1e88a8;
}
.piece .meta .options .btn-full-screen {
  color: #aaa;
  font-size: 14px;
  visibility: hidden;
  padding: 0 5px;
}
.piece .meta .options .btn-full-screen:hover {
  color: #1e88a8;
}
.piece .vote {
  background-color: #ffffff;
  border: 1px solid #E0E3E6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.piece .vote:hover {
  border-color: #bbb;
}
.piece .vote.voted {
  border-color: #1e88a8;
  color: #1e88a8;
}
.piece .vote .votes-count {
  line-height: 1;
  padding-bottom: 4px;
}
.piece .vote .vote-icon {
  line-height: 1;
}
.piece-full-screen-backdrop {
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #000;
  transition: opacity .15s linear;
  opacity: 0;
}
.piece-full-screen-backdrop .btn-close-backdrop {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 60px;
  cursor: pointer;
}
.piece-full-screen-backdrop .btn-close-backdrop:hover {
  color: #999;
}
.piece-full-screen-backdrop .wap {
  padding: 0 10%;
}
.piece-full-screen-backdrop .wap .content {
  line-height: 1.6;
  font-size: 40px;
  color: #ffffff;
}
.piece-full-screen-backdrop .wap .source {
  margin-top: 60px;
  font-size: 26px;
  color: #ffffff;
  text-align: right;
}
.piece-full-screen-backdrop .wap .source:before {
  content: '\2014 \00A0';
}
.user-profile-header {
  padding-top: 50px;
  position: relative;
}
.user-profile-header .user-info {
  text-align: center;
  margin-bottom: 35px;
}
.user-profile-header .user-info .user-avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.user-profile-header .user-info .user-name {
  font-size: 20px;
  text-align: center;
}
.user-profile-header .user-info .motto {
  margin-top: 12px;
  color: #999;
}
.user-profile-header .user-info .media-icons {
  text-align: center;
  margin-top: 15px;
  top: 20px;
  right: 20px;
}
.user-profile-header .user-info .media-icons a {
  margin-right: 8px;
}
.user-profile-header .user-info .media-icons a:last-child {
  margin-right: 0;
}
.user-profile-header .user-info .media-icons a:focus,
.user-profile-header .user-info .media-icons a:hover {
  text-decoration: none;
}
.user-profile-header .user-info .media-icons a img {
  border-radius: 2px;
  height: 20px;
}
.user-profile-header .tab {
  text-align: center;
}
.user-profile-header .tab .tab-item {
  text-decoration: none;
  float: left;
  display: block;
  line-height: 1;
  padding: 17px 0;
  width: 33.33333333%;
  background-color: #eee;
  color: #333;
}
.user-profile-header .tab .tab-item.active,
.user-profile-header .tab .tab-item:hover {
  background-color: #1e88a8;
  color: #ffffff;
}
.source-wap {
  display: inline-block;
}
.source-wap .source {
  line-height: 16px;
  color: #aaa;
}
.source-wap a.source:hover,
.source-wap a.source:focus {
  text-decoration: none;
  color: #1e88a8;
}
@media (min-width: 768px) {
  #collect-modal .modal-dialog {
    width: 400px;
  }
}
#collect-modal .for-add-collection {
  display: none;
}
#collect-modal .modal-body {
  padding: 20px 20px 15px 20px;
}
#collect-modal .modal-body.for-collect-piece {
  height: 300px;
  overflow: auto;
}
#collect-modal .modal-footer {
  padding: 15px 20px;
}
#collect-modal .flag-loading-collection-bars {
  position: absolute;
  font-size: 20px;
  color: #999;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
#collect-modal .tip {
  position: absolute;
  color: #999;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -7px;
  line-height: 1;
  text-align: center;
}
#collect-modal .collection-bar {
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px 0;
  padding: 10px 15px;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
}
#collect-modal .collection-bar:hover {
  background-color: #f2f2f2;
}
#collect-modal .collection-bar.collected .collected-flag {
  visibility: visible;
}
#collect-modal .collection-bar .collected-flag {
  float: right;
  margin-top: 3px;
  margin-right: -2px;
  color: #1e88a8;
  visibility: hidden;
  transform: none;
}
#collect-modal #form-add-collection #title-form-error {
  display: none;
}
#collect-modal .btn-add-collection {
  color: #999;
  cursor: pointer;
  float: left;
  line-height: 34px;
}
#collect-modal .btn-add-collection:hover {
  color: #1e88a8;
}
#collect-modal .btn-cancle-add-collection {
  color: #999;
  cursor: pointer;
  margin-right: 10px;
}
#collect-modal .btn-cancle-add-collection:hover {
  color: #1e88a8;
}
#collect-modal .btn-submit-collection {
  vertical-align: baseline;
}
#collect-modal .btn-close {
  display: block;
  float: right;
  vertical-align: baseline;
}
.form-piece .tip {
  font-size: 12px;
  margin-left: 10px;
  color: #999;
}
.form-piece .tip .content-length {
  color: #333;
}
.form-piece .tip .negative .content-length {
  color: #a94442;
  display: none;
}
.form-piece .checkbox {
  margin-bottom: 20px;
}
.form-piece .checkbox label[for='original'] {
  margin-bottom: 0px;
  font-weight: bold;
  padding-left: 0;
}
.form-piece .checkbox label[for='original'] #original {
  margin-left: 35px;
}
.form-piece .source-url-wap {
  position: relative;
}
.form-piece .source-url-wap .source-favicon {
  display: none;
  border: none;
  border-style: none;
  position: absolute;
  right: 10px;
  bottom: 9px;
  width: 16px;
  height: 16px;
}
.form-piece .source-help {
  color: #aaa;
  margin-left: 3px;
  cursor: pointer;
}
.form-piece .source-help:hover {
  color: #999;
}
