html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f0f0f0;
  margin-bottom: 60px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.flash-message {
  background-color: #1e88a8;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 58px;
  line-height: 58px;
}
.navbar-form {
  margin: 10px 0;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
  font-size: 12px;
}
