html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f0f0f0;
  margin-bottom: 100px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.flash-message {
  background-color: #1e88a8;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 58px;
  line-height: 58px;
}
.navbar-form {
  margin: 10px 0;
}
.navbar-nav .notifications-count {
  border-radius: 2px;
  background-color: #1e88a8;
  color: white;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  padding: 2px 5px;
  vertical-align: 1px;
}
@media (min-width: 768px) {
  #nav-signin {
    padding-right: 4px;
  }
  #nav-signup {
    padding-left: 4px;
  }
  .nav-devider {
    color: #777;
    vertical-align: 1px;
  }
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  color: #aaa;
}
#footer li {
  padding: 0 6px;
}
#footer a {
  color: #aaa;
}
#footer a:hover {
  color: #1e88a8;
}
