html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f0f0f0;
  margin-bottom: 60px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.flash-message {
  background-color: #1e88a8;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 58px;
  line-height: 58px;
}
.navbar-form {
  margin: 10px 0;
}
.navbar-nav .notifications-count {
  border-radius: 2px;
  background-color: #1e88a8;
  color: white;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  padding: 2px 5px;
  vertical-align: 1px;
}
