{% extends 'layout.html' %}

{% block page_title %}{{ book.title }} - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class='row'>
         <div class='col-md-8'>
            <div class='book-header clearfix'>
               <img class='book-cover' src="{{ book.cover_image }}" title="{{ book.title }}"
                    alt="{{ book.title }}">

               <div class='book-info-wap'>
                  <h1>{{ book.title }}</h1>

                  <p class='book-author'>{{ book.author }}</p>
               </div>
            </div>

            <h2>内容简介</h2>

            <div class='book-intro'>{{ book.intro|markdown|safe }}</div>

            <h2>摘录 / {{ book.pieces.count() }}</h2>

            <div class="progress">
               {% for piece in book.pieces %}
                  <a href="{{ url_for('piece.view', uid=piece.id) }}">
                     <div class='excerpt-position-bar progress-bar progress-bar-info'
                          style="left: {{ piece.start_percentage }}%; width: {{ piece.width_percentage }}%;"
                          title="{{ piece.title }} P{{ piece.page_start }}-P{{ piece.page_end }}"
                          data-container="body"></div>
                  </a>
               {% endfor %}
            </div>

            {% for piece in book.pieces %}
               <div class='book-excerpt-item'>
                  <div class='excerpt-title'><a
                        href="{{ url_for('excerpt', excerpt_id=piece.id) }}">{{ piece.title }}</a>
                     <small>P{{ piece.page_start }} - P{{ piece.page_end }}</small>
                  </div>
                  <div class='excerpt-content'>{{ piece.content|truncate(100, '...') }}</div>
                  {#               <div class='create-time'>{{ e.create_time }}</div>#}
               </div>
            {% endfor %}
         </div>

         <div class='col-md-4'>
            <div class='book-external-link'>
               {% if book.douban_url %}
                  <a href="{{ book.douban_url }}" target="_blank">
                     <img src="http://img3.douban.com/pics/douban-icons/favicon_32x32.png"
                          title="《{{ book.title }}》豆瓣主页">
                  </a>
               {% endif %}

               {#            {% if book.amazon_url %}#}
               {#               <a href="{{ book.amazon_url }}" target="_blank">#}
               {#                  <img src="https://cdn1.iconfinder.com/data/icons/D_Social_Icon_Set/128/amazonpx.png"#}
               {#                       title="《{{ book.title }}》Amazon主页">#}
               {#               </a>#}
               {#            {% endif %}#}
            </div>

            {#         <h2>微信公众号：jingdian_001</h2>#}
            {#         <img class='wx-qrcode' src="{{ url_for('static', filename='imgs/wx_qrcode.png') }}"#}
            {#              title='微信公众号：jingdian_001'#}
            {#              alt="微信公众号：jingdian_001">#}
         </div>
      </div>
   </div>
{% endblock %}