{% extends layout.html %}

{% block page_title %}{{ book.title }} - 壹经典{% end %}
{% block page_id %}page-book{% end %}

{% block body %}
<script type="text/javascript">
$(function(){
   $('.note-position-bar').tooltip();
});
</script>

<div class='row'>
   <div class='col-md-8'>
      <div class='book-header clearfix'>
         <img class='book-cover' src="{{ book.cover_image }}" title="{{ book.title }}" alt="{{ book.title }}">
         <div class='book-info-wap'>
            <h1>{{ book.title }}</h1>
            <p class='book-author'>{{ book.author }}</p>
         </div>
      </div>

      <h2>内容简介</h2>
      <div class='book-intro'>{% raw book.intro %}</div>

      <h2>摘录 / {{ len(notes) }}</h2>

      <div class="progress">
         {% for n in notes %}
         <a href="/note/{{ n.id }}">
            <div class='note-position-bar progress-bar progress-bar-info' style="left: {{ n.start_percentage }}%; width: {{ n.width_percentage }}%;" title="{{ n.title }} P{{ n.page_start }}-P{{ n.page_end }}" data-container="body"></div>
         </a>
         {% end %}
      </div>

      {% for n in notes %}
      <div class='book-note-item'>
         <div class='book-title'><a href="/note/{{ n.id }}">{{ n.title }}</a> <small>P{{ n.page_start }}-P{{ n.page_end }}</small></div>
         <div class='book-quote'>{{ n.quote }}</div>
         <div class='note-time'>{{ n.create_time }}</div>
      </div>
      {% end %}
   </div>

   <div class='col-md-4'>
      <div class='book-external-link'>
         <a href="{{ book.douban_url }}" target="_blank">
            <img src="http://img3.douban.com/pics/douban-icons/favicon_32x32.png" title="《{{ book.title }}》豆瓣主页">
         </a>

         <a href="{{ book.amazon_url }}" target="_blank">
            <img src="https://cdn1.iconfinder.com/data/icons/D_Social_Icon_Set/128/amazonpx.png" title="《{{ book.title }}》Amazon主页">
         </a>
      </div>

      <h2>微信公众号：jingdian_001</h2>
      <img class='wx-qrcode' src="{{ static_url('imgs/wx_qrcode.png') }}" title='微信公众号：jingdian_001' alt="微信公众号：jingdian_001">
   </div>
</div>
{% end %}