{% extends layout.html %}

{% block page_title %}壹经典{% end %}
{% block page_id %}page-index{% end %}

scr
$(function)

{% block body %}

<script type="text/javascript">
$(function(){
   var firstNote = $('.note-item').first();
   firstNote.find('.note-title').append("<sup><span class='label-note-foreshow label label-primary'>预告</span><sup>");
   firstNote.find('.note-time').text('明天');
});
</script>

<div class='row'>
   <div class='col-md-8'>
      {% for n in notes %}
      <div class='note-item clearfix'>
         <a href="/book/{{ n.book_id }}">
            <img class='book-cover' src="{{ n.cover_image }}" title="{{ n.book_title }}" alt="{{ n.book_title }}">
         </a>
         <div class='note-wap'>
            <div class='note-title'><a href="/note/{{ n.id }}">{{ n.title }}</a></div>
            <div class='note-book-info'>《<a href="/book/{{ n.book_id }}">{{ n.book_title }}</a>》P{{ n.page_start }} - P{{ n.page_end }}</div>
            <div class='note-content'>{{ n.quote }}</div>
            <div class='note-time'>{{ n.create_time }}</div>
         </div>
      </div>
      {% end %}
   </div>

   <div class='col-md-4'>
      <h2>微信公众号：jingdian_001</h2>
      <img class='wx-qrcode' src="{{ static_url('imgs/wx_qrcode.png') }}" title='微信公众号：jingdian_001' alt="微信公众号：jingdian_001">
   </div>
</div>
{% end %}