<!doctype html>
<html>
   <head>
      <title>{% block page_title %}{% end %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name='description' content="{% block description %}{% end %}" />
      {% block meta %}{% end %}
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <link rel="Shortcut Icon" href="#">
      <link type="text/css" rel="stylesheet" href="{{ static_url('style/bootstrap.min.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ static_url('style/bootstrap.theme.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ static_url('style/module.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ static_url('style/page.css') }}">
      <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
   </head>

   <body id="{% block page_id %}{% end %}">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
         <div class='container'>
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/">壹经典 <small>摘录与点评经典书籍</small></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav ">
                  <li><a href="/">摘录</a></li>
                  <li><a href="/books">书架</a></li>
                  <!-- <li><a href="/contribute">投稿</a></li> -->
               </ul>
            </div>
         </div>
      </nav>

      <div id="main-wap" class="container">
      {% block body %}{% end %}
      </div>

      <div id="footer">
         <div class='container'>
            <div id='copyright'>壹经典 ©2013 by <a href="http://hustlzp.com" target="_blank">hustlzp</a></div>
            
            <ul id='links'>
               <!-- <li><a href="#">关于</a></li> -->
               <!-- <li><a target="_blank" href="https://github.com/hustlzp/1jingdian">GitHub</a></li> -->
               <li>经典，不褪色。</li>
            </ul>
         </div>
      </div>
   </body>
</html>