{% extends layout.html %}

{% block page_title %}{{ note.title }} (摘自: {{ note.book_title }}) - 壹经典{% end %}
{% block page_id %}page-note{% end %}

{% block body %}
<script type="text/javascript">
$(function(){
   $('.note-note').hide();

   // show note
   $('.btn-show-note').click(function(){
      $('.note-note').fadeIn('fast');
      $(this).parent().removeClass('on').addClass('off');

      // just show tooltip once
      $('.tooltip').hide();
      $(this).removeAttr('title').removeAttr('data-original-title');
   }).tooltip();

   // hide note
   $('.btn-hide-note').click(function(){
      $('.note-note').fadeOut('fast');
      $(this).parent().removeClass('off').addClass('on');
   });
});
</script>

<h1>{{ note.title }}</h1>
<div class='note-book-info'>摘自《<a href="/book/{{ note.book_id }}">{{ note.book_title }}</a>》P{{ note.page_start }}-P{{ note.page_end }}</div>

<div class='row'>
   <div class='col-md-8'>
      <div class='well note-quote'>{% raw note.quote %}</div>
      <h2>
         编者记
         <div class='btn-group btn-group-xs btn-group-toggle-note on'>
            <button class='btn btn-default btn-show-note' data-container="body" data-placement="right" title='他人的观点只是参考，请保持对经典的独立思考'><i class='glyphicon glyphicon-chevron-down'></i> 展开</button>
            <button class='btn btn-default btn-hide-note'><i class='glyphicon glyphicon-chevron-up'></i> 隐藏</button>
         </div>
      </h2>
      
      <div class='note-note'>{% raw note.note %}</div>
      <div class='note-time'>{{ note.create_time }}</div>
   </div>

   <div class='col-md-4'>
      <a href="/book/{{ note.book_id }}">
         <img class='book-cover' src="{{ note.cover_image }}" title="{{ note.book_title }}" alt="{{ note.book_title }}">
      </a>
      <p class='book-author'>{{ note.author }}</p>
   </div>
</div>
{% end %}