{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}

{% block page_title %}重置密码{% endblock %}
{% block page_content %}
   <div class="ui segment">
      <p>重置密码</p>

      <form action="" method="post">
         <div class="ui form">
            {{ form.csrf_token() }}

            {{ vertical_field(form.new_password) }}
            {{ vertical_field(form.re_new_password) }}

            {{ form_submit('重置') }}
         </div>
      </form>
   </div>
{% endblock %}
