{% extends "layout.html" %}
{% from 'macro/form.html' import vertical_field, form_submit %}

{% block page_title %}注册{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">注册</div>
         <div class="panel-body">
            <form method="post" action="{{ url_for('account.signup') }}">
               {{ form.csrf_token() }}

               {{ vertical_field(form.name) }}
               {{ vertical_field(form.email) }}
               {{ vertical_field(form.password) }}
               {{ vertical_field(form.repassword) }}

               <div class="submit-wap submit-right">
                  <button type="submit" class="btn btn-submit btn-primary">注册</button>
               </div>
            </form>
         </div>
      </div>
   </div>
{% endblock %}

