{% extends "layout.html" %}
{% from 'macro/form.html' import vertical_field, form_submit %}

{% block page_title %}登陆 - 壹经典{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">登陆</div>
         <div class="panel-body">
            <form method="post" action="{{ url_for('account.signin') }}">
               {{ form.csrf_token() }}

               {{ vertical_field(form.email) }}
               {{ vertical_field(form.password) }}

               <div class="submit-wap submit-right">
                  <button type="submit" class="btn btn-submit btn-primary">登陆</button>
               </div>
            </form>
         </div>
         <div class="panel-footer text-center">
            <a href="{{ url_for('account.signup') }}">注册</a>
            <span class="devider">/</span>
            <a href="">忘记密码</a>
         </div>
      </div>
   </div>
{% endblock %}
