.collection-log {
  border-top: 1px solid #e2e2e2;
  padding: 15px 0 15px 0;
  margin: 0;
}
.collection-log:hover .log-meta .wap-report {
  visibility: visible;
}
.collection-log .user-avatar {
  width: 32px;
  height: 32px;
}
.collection-log .title {
  margin-bottom: 12px;
  color: #999;
}
.collection-log .title a {
  color: #333;
}
.collection-log .title a:hover {
  color: #1e88a8;
}
.collection-log .content {
  margin-bottom: 12px;
}
.collection-log .content .fa-long-arrow-right {
  margin: 0 5px;
}
.collection-log .content img {
  width: 48px;
  height: 48px;
}
.collection-log .log-meta {
  color: #999;
  font-size: 12px;
}
.collection-log .log-meta .wap-report {
  display: inline-block;
  visibility: hidden;
  margin-left: 15px;
}
.collection-log .log-meta .wap-report.reported {
  visibility: visible !important;
}
.collection-log .log-meta .wap-report.reported .btn-report-collection-log {
  display: none;
}
.collection-log .log-meta .wap-report.reported .flag-reported {
  display: inline-block;
}
.collection-log .log-meta .wap-report .btn-report-collection-log {
  display: inline-block;
  color: #999;
}
.collection-log .log-meta .wap-report .btn-report-collection-log:hover {
  color: #1e88a8;
}
.collection-log .log-meta .wap-report .flag-reported {
  display: none;
}
.collection-logs-wap {
  display: none;
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  background-color: #ffffff;
  padding: 30px 25px 10px 25px;
  overflow: auto;
  border-radius: 5px;
}
.collection-logs-wap .subtitle {
  font-size: 16px;
  color: #aaa;
  margin: 0 0 15px 0;
}
.collection-logs-wap .btn-close-collection-logs-wap {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
  line-height: 1;
}
.collection-logs-wap .btn-close-collection-logs-wap:hover {
  color: #999;
}
.collections-wap {
  padding: 35px 15px 10px 15px;
}
.collections-wap .collection {
  display: block;
  width: 336px;
  height: 86px;
  border-radius: 4px;
  float: left;
  margin: 0 12px 25px 12px;
  border: 1px solid #e2e2e2;
  padding: 18px 20px;
  color: #333;
  position: relative;
  cursor: pointer;
}
.collections-wap .collection:hover {
  background-color: #fAfAfA;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}
.collections-wap .collection:hover .btn-like-collection {
  visibility: visible;
}
.collections-wap .collection .media-left {
  padding-right: 15px;
}
.collections-wap .collection .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.collections-wap .collection .collection-cover {
  width: 48px;
  height: 48px;
}
.collections-wap .collection .desc {
  font-size: 12px;
  color: #aaa;
  overflow: hidden;
  height: 18px;
}
.collections-wap .collection .btn-like-collection {
  visibility: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #999;
}
.collections-wap .collection .btn-like-collection.liked {
  visibility: visible;
}
.collections-wap .collection .btn-like-collection.liked .fa-bookmark {
  display: block;
}
.collections-wap .collection .btn-like-collection.liked .fa-bookmark-o {
  display: none;
}
.collections-wap .collection .btn-like-collection .fa-bookmark {
  display: none;
  color: #1e88a8;
}
.collections-wap .collection .btn-like-collection .fa-bookmark-o {
  display: block;
}
.collections-wap .collection .btn-like-collection .fa-bookmark-o:hover {
  color: #1e88a8;
}
.collection-header .collection-info {
  padding: 50px 0 35px 0;
  text-align: center;
  position: relative;
}
.collection-header .collection-info .title {
  font-size: 20px;
}
.collection-header .collection-info .desc {
  margin-top: 10px;
  color: #999;
}
.collection-header .collection-info .collection-cover {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}
.collection-header .collection-info .options {
  position: absolute;
  color: #999;
  right: 25px;
  top: 25px;
}
.collection-header .collection-info .options > a {
  color: #999;
}
.collection-header .collection-info .options > a:hover {
  color: #1e88a8;
}
.collection-header .collection-info .options .btn-like-collection.liked {
  visibility: visible;
}
.collection-header .collection-info .options .btn-like-collection.liked .fa-bookmark {
  display: inline-block;
}
.collection-header .collection-info .options .btn-like-collection.liked .fa-bookmark-o {
  display: none;
}
.collection-header .collection-info .options .btn-like-collection .fa-bookmark {
  display: none;
  color: #1e88a8;
}
.collection-header .collection-info .options .btn-like-collection .fa-bookmark-o {
  display: inline-block;
}
.collection-header .collection-info .options .btn-like-collection .fa-bookmark-o:hover {
  color: #1e88a8;
}
.collection-header .collection-info .options .btn-edit-collection,
.collection-header .collection-info .options .btn-like-collection,
.collection-header .collection-info .options .btn-show-collection-logs-wap {
  margin-left: 15px;
}
.collection-header .tab {
  text-align: center;
}
.collection-header .tab.two .item {
  width: 50%;
}
.collection-header .tab.three .item {
  width: 33.333333333%;
}
.collection-header .tab .item {
  text-decoration: none;
  float: left;
  display: block;
  line-height: 1;
  padding: 17px 0;
  background-color: #eee;
  color: #333;
}
.collection-header .tab .item.active,
.collection-header .tab .item:hover {
  background-color: #1e88a8;
  color: #ffffff;
}
