.piece-modal-wap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 500px;
  z-index: 1000;
  padding: 30px 20px 20px 20px;
  overflow: auto;
  box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .piece-modal-wap {
    width: 100%;
    padding-top: 35px;
  }
}
@media (min-width: 1400) {
  .piece-modal-wap {
    width: 550px;
  }
}
@media (min-width: 1800) {
  .piece-modal-wap {
    width: 600px;
  }
}
.piece-modal-wap .flag-loading-piece {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  margin-left: -15px;
  margin-top: -15px;
  color: #999;
}
.piece-modal-wap .piece-logs-wap {
  padding: 30px 20px 10px 20px;
}
.piece-modal-wap .btn-close-piece-modal-wap {
  position: absolute;
  top: 0;
  right: 20px;
  border: 1px solid #bbb;
  border-top: 0;
  font-size: 20px;
  padding: 0px 12px 3px 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #aaa;
  cursor: pointer;
  line-height: 1;
}
.piece-modal-wap .btn-close-piece-modal-wap:hover {
  background-color: #1e88a8;
  border-color: #1e88a8;
  color: #ffffff;
}
.piece-details-wap .piece-header {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
}
.piece-details-wap .piece-header .media-left {
  padding-right: 18px;
}
.piece-details-wap .piece-header .vote {
  background-color: #ffffff;
  border: 1px solid #E0E3E6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.piece-details-wap .piece-header .vote:hover {
  border-color: #bbb;
}
.piece-details-wap .piece-header .vote.voted {
  border-color: #1e88a8;
  color: #1e88a8;
}
.piece-details-wap .piece-header .vote .votes-count {
  line-height: 1;
  padding-bottom: 4px;
}
.piece-details-wap .piece-header .vote .vote-icon {
  line-height: 1;
}
.piece-details-wap .piece-header .content {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}
.piece-details-wap .meta {
  padding: 10px 0;
  line-height: 32px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
}
.piece-details-wap .meta .user-avatar-link {
  margin-right: 8px;
}
.piece-details-wap .meta .user-avatar-link .user-avatar {
  width: 32px;
  height: 32px;
}
.piece-details-wap .meta .created-time {
  color: #aaa;
}
.piece-details-wap .meta .actions a {
  color: #aaa;
}
.piece-details-wap .meta .actions a:hover {
  color: #1e88a8;
}
.piece-details-wap .meta .actions .btn-show-logs-wap,
.piece-details-wap .meta .actions .btn-full-screen,
.piece-details-wap .meta .actions .btn-share {
  margin-left: 12px;
}
.piece-details-wap .subtitle {
  font-size: 16px;
  color: #aaa;
  margin: 20px 0 15px 0;
}
.piece-details-wap .voters img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 8px 8px 0;
}
.piece-details-wap .collections-container {
  margin-top: 20px;
}
.piece-details-wap .collections-container.empty .btn-edit-collection {
  display: none;
}
.piece-details-wap .collections-container.empty .btn-add-collection {
  display: inline-block;
}
.piece-details-wap .collections-container.empty .collections-inner-container {
  margin-bottom: 0;
}
.piece-details-wap .collections-container.edit-mode .btn-add-collection,
.piece-details-wap .collections-container.edit-mode .btn-edit-collection {
  display: none;
}
.piece-details-wap .collections-container.edit-mode .collection-tag-wap .btn-delete-collection {
  display: inline-block;
}
.piece-details-wap .collections-container.edit-mode .collection-tag {
  padding-right: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.piece-details-wap .collections-container.edit-mode .collection-input-wap {
  display: block;
}
.piece-details-wap .collections-container .collections-inner-container {
  margin-bottom: -8px;
}
.piece-details-wap .collections-container .collection-tag-wap {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
.piece-details-wap .collections-container .collection-tag-wap:last-child {
  margin-right: 10px;
}
.piece-details-wap .collections-container .collection-tag-wap .collection-tag {
  display: inline-block;
  vertical-align: text-top;
}
.piece-details-wap .collections-container .collection-tag-wap .btn-delete-collection {
  display: none;
  vertical-align: text-top;
  cursor: pointer;
  background-color: #eff6fa;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 5px;
  height: 24px;
  line-height: 1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 12px;
  color: #1e88a8;
}
.piece-details-wap .collections-container .collection-tag-wap .btn-delete-collection:hover {
  background-color: #d0e5f0;
}
.piece-details-wap .collections-container .btn-add-collection,
.piece-details-wap .collections-container .collection-tag {
  background-color: #eff6fa;
  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;
  height: 24px;
  line-height: 1;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  color: #1e88a8;
}
.piece-details-wap .collections-container .btn-add-collection:hover,
.piece-details-wap .collections-container .collection-tag:hover {
  background-color: #d0e5f0;
}
.piece-details-wap .collections-container .btn-add-collection {
  display: none;
}
.piece-details-wap .collections-container .btn-edit-collection {
  font-size: 12px;
  color: #aaa;
  vertical-align: -2px;
}
.piece-details-wap .collections-container .btn-edit-collection:hover {
  color: #1e88a8;
}
.piece-details-wap .collections-container .collection-input-wap {
  margin-top: 15px;
  display: none;
}
.piece-details-wap .collections-container .collection-input-wap input {
  display: inline-block;
  width: 220px;
  font-size: 12px;
}
.piece-details-wap .collections-container .collection-input-wap .btn-finish-add-collection {
  color: #1e88a8;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}
.piece-details-wap .comment {
  padding: 7.5px 0;
}
.piece-details-wap .comment:hover .comment-meta .options {
  visibility: visible;
}
.piece-details-wap .comment .user-avatar {
  width: 32px;
  height: 32px;
}
.piece-details-wap .comment .comment-user {
  color: #000;
  margin-bottom: 8px;
}
.piece-details-wap .comment .comment-user a {
  color: #333;
}
.piece-details-wap .comment .comment-user a:hover {
  color: #1e88a8;
}
.piece-details-wap .comment .comment-user .to-target-user {
  font-size: 12px;
  color: #999;
  margin: 0 2px;
}
.piece-details-wap .comment .comment-content {
  line-height: 1.6;
  margin-bottom: 8px;
  color: #666;
}
.piece-details-wap .comment .comment-meta {
  font-size: 12px;
  color: #aaa;
}
.piece-details-wap .comment .comment-meta .options {
  visibility: hidden;
}
.piece-details-wap .comment .comment-meta .options a {
  font-size: 12px;
  color: #bbb;
}
.piece-details-wap .comment .comment-meta .options a:hover {
  color: #1e88a8;
}
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-me,
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-people {
  visibility: visible !important;
}
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-me .comment-votes-count,
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-people .comment-votes-count {
  display: inline-block;
}
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-me .comment-vote-text,
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-people .comment-vote-text {
  display: none;
}
.piece-details-wap .comment .comment-meta .options .btn-vote-comment.voted-by-me {
  color: #1e88a8;
}
.piece-details-wap .comment .comment-meta .options .btn-vote-comment .comment-votes-count {
  display: none;
}
.piece-details-wap .comment .comment-meta .options .btn-vote-comment .comment-vote-text {
  display: inline-block;
}
.piece-details-wap .comment .comment-meta .options .btn-show-comment-form {
  margin-left: 18px;
}
.piece-details-wap .sub-comments-wap {
  padding-left: 42px;
}
.piece-details-wap #form-comment .form-group {
  margin-top: 5px;
  margin-bottom: 12px;
}
.piece-details-wap .form-sub-comment {
  display: none;
}
.piece-details-wap .form-sub-comment .form-group {
  margin-bottom: 12px;
}
.piece-details-wap .form-sub-comment .btn-cancel-submit-sub-comment {
  font-size: 12px;
  margin-right: 8px;
  color: #999;
  cursor: pointer;
}
.piece-details-wap .form-sub-comment .btn-cancel-submit-sub-comment:hover {
  color: #1e88a8;
}
.piece-details-wap .comment-after-signed-in-wap {
  padding: 12px;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 20px;
}
.piece-details-wap .share-wap {
  position: absolute;
  text-align: center;
  display: none;
  opacity: 0;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  background-color: #ffffff;
}
.piece-details-wap .share-wap .btn-share-to-weibo:focus,
.piece-details-wap .share-wap .btn-share-to-weibo:hover {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
  border-color: #ccc;
}
.piece-details-wap .share-wap .btn-share-to-weibo .weibo-icon {
  height: 14px;
  vertical-align: -1px;
}
.piece-details-wap .share-wap .devider {
  color: #999;
  margin: 15px 0;
}
.piece-details-wap .share-wap .share-to-weixin-wap .piece-qrcode {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 15px auto;
}
.piece-details-wap .share-wap .share-to-weixin-wap .fa-weixin {
  color: #06B712;
}
.piece-details-wap .share-wap .btn-close-share-wap {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
  line-height: 1;
}
.piece-details-wap .share-wap .btn-close-share-wap:hover {
  color: #999;
}
.pieces-by-date-wap {
  margin-bottom: 40px;
}
.pieces-by-date-wap .panel-body {
  padding: 0;
}
.pieces-by-date-wap .panel-footer .btn-show-hide-pieces {
  cursor: pointer;
  color: #999;
}
.pieces-by-date-wap .panel-footer .btn-show-hide-pieces:hover {
  color: #1e88a8;
}
.pieces-by-date-wap .hide-pieces {
  border-top: 1px solid #e2e2e2;
  display: none;
}
.pieces-by-date-wap .pieces-pager {
  border-top: 1px solid #e2e2e2;
}
.pieces-by-date-wap .pieces-pager .pre-page,
.pieces-by-date-wap .pieces-pager .next-page {
  text-align: center;
  width: 50%;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
}
.pieces-by-date-wap .pieces-pager .pre-page.disabled,
.pieces-by-date-wap .pieces-pager .next-page.disabled {
  color: #aaa;
}
.pieces-by-date-wap .pieces-pager .pre-page.disabled:hover,
.pieces-by-date-wap .pieces-pager .next-page.disabled:hover {
  background-color: #ffffff;
  cursor: default;
}
.pieces-by-date-wap .pieces-pager .pre-page:hover,
.pieces-by-date-wap .pieces-pager .next-page:hover,
.pieces-by-date-wap .pieces-pager .pre-page:focus,
.pieces-by-date-wap .pieces-pager .next-page:focus {
  text-decoration: none;
}
.pieces-by-date-wap .pieces-pager .pre-page:hover,
.pieces-by-date-wap .pieces-pager .next-page:hover {
  background-color: #f6f6f6;
}
.pieces-by-date-wap .pieces-pager .pre-page {
  float: left;
  border-bottom-left-radius: 5px;
}
.pieces-by-date-wap .pieces-pager .next-page {
  float: right;
  border-bottom-right-radius: 5px;
}
.pieces-by-date-wap .share-piece {
  padding: 20px 0;
}
.pieces-by-date-wap .share-piece a {
  color: #777;
}
.pieces-by-date-wap .share-piece a:focus,
.pieces-by-date-wap .share-piece a:hover {
  text-decoration: none;
  color: #333;
}
.pieces-wap {
  min-height: 40px;
}
.pieces-wap .piece {
  border-bottom: 1px solid #e2e2e2;
  padding: 25px 20px 20px 20px;
  cursor: pointer;
}
.pieces-wap .piece.last {
  border-bottom: none;
}
.pieces-wap .piece.selected {
  background-color: #f8f8f8;
}
.pieces-wap .piece:hover {
  background-color: #f8f8f8;
}
.pieces-wap .piece:hover .meta .options .collect,
.pieces-wap .piece:hover .meta .options .btn-edit-piece,
.pieces-wap .piece:hover .meta .options .btn-full-screen {
  visibility: visible;
}
.pieces-wap .piece .media-left {
  padding-right: 18px;
}
.pieces-wap .piece .user-avatar {
  width: 32px;
  height: 32px;
}
.pieces-wap .piece .comments-count {
  text-align: center;
  margin-top: 8px;
  color: #bbb;
}
.pieces-wap .piece .comments-count .fa {
  font-size: 12px;
  margin-left: 1px;
}
.pieces-wap .piece .content {
  padding-right: 85px;
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 16px;
}
@media (max-width: 767px) {
  .pieces-wap .piece .content {
    padding-right: 50px;
  }
}
.pieces-wap .piece .meta {
  color: #aaa;
  font-size: 12px;
}
.pieces-wap .piece .meta .source-wap {
  margin-right: 25px;
}
.pieces-wap .piece .meta .options {
  display: inline-block;
  margin-left: -3px;
  line-height: 1;
  font-size: 14px;
}
.pieces-wap .piece .meta .options > a {
  color: #aaa;
  visibility: hidden;
  padding: 0 5px;
  outline: none;
}
.pieces-wap .piece .meta .options > a:hover {
  color: #1e88a8;
}
.pieces-wap .piece .meta .options .collect {
  margin-right: 10px;
}
.pieces-wap .piece .meta .options .collect.collected {
  visibility: visible !important;
  color: #1e88a8 !important;
}
.pieces-wap .piece .meta .options .btn-edit-piece {
  margin-right: 10px;
}
.pieces-wap .piece .vote {
  background-color: #ffffff;
  border: 1px solid #E0E3E6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.pieces-wap .piece .vote:hover {
  border-color: #bbb;
}
.pieces-wap .piece .vote.voted {
  border-color: #1e88a8;
  color: #1e88a8;
}
.pieces-wap .piece .vote .votes-count {
  line-height: 1;
  padding-bottom: 4px;
}
.pieces-wap .piece .vote .vote-icon {
  line-height: 1;
}
.windows .pieces-wap .piece .meta .options {
  vertical-align: -1px;
}
.full-screen-backdrop {
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #000;
  transition: opacity .15s linear;
  opacity: 0;
}
.full-screen-backdrop .title {
  position: absolute;
  left: 20px;
  top: 30px;
  line-height: 1;
  font-size: 24px;
}
.full-screen-backdrop .btn-close-backdrop {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 60px;
  cursor: pointer;
}
.full-screen-backdrop .btn-close-backdrop:hover {
  color: #999;
}
.full-screen-backdrop .wap {
  padding: 0 10%;
}
.full-screen-backdrop .wap .content {
  line-height: 1.6;
  font-size: 40px;
  color: #ffffff;
}
.full-screen-backdrop .wap .source {
  margin-top: 60px;
  font-size: 26px;
  color: #ffffff;
  text-align: right;
}
.full-screen-backdrop .wap .source:before {
  content: '\2014 \00A0';
}
.source-wap {
  display: inline-block;
  color: #aaa;
  font-size: 12px;
}
.source-wap .source-link {
  margin-left: 15px;
  color: #aaa;
}
.source-wap .source-link:hover {
  color: #1e88a8;
}
.form-piece .tip {
  font-size: 12px;
  margin-left: 10px;
  color: #999;
}
.form-piece .tip .content-length {
  color: #333;
}
.form-piece .tip .negative .content-length {
  color: #a94442;
  display: none;
}
.form-piece .btn-group-original {
  margin-bottom: 20px;
}
.form-piece .btn-group-original > label {
  padding: 3px 8px;
}
.form-piece .btn-group-original > label.active {
  box-shadow: none;
  background-color: #1e88a8;
  color: white;
  border-color: #1e88a8;
}
.form-piece .btn-group-original > label:last-child:hover {
  border-left-color: #1e88a8;
}
.form-piece .source-url-wap {
  position: relative;
}
.form-piece .source-url-wap .source-favicon {
  display: none;
  border: none;
  border-style: none;
  position: absolute;
  right: 10px;
  bottom: 9px;
  width: 16px;
  height: 16px;
}
.form-piece .source-help {
  color: #aaa;
  margin-left: 3px;
  cursor: pointer;
}
.form-piece .source-help:hover {
  color: #999;
}
.piece-log {
  border-top: 1px solid #e2e2e2;
  padding: 15px 0 15px 0;
  margin: 0;
}
.piece-log:hover .log-meta .wap-report-abuse {
  visibility: visible;
}
.piece-log .user-avatar {
  width: 32px;
  height: 32px;
}
.piece-log .title {
  margin-bottom: 12px;
  color: #999;
}
.piece-log .title a {
  color: #333;
}
.piece-log .title a:hover {
  color: #1e88a8;
}
.piece-log .content {
  margin-bottom: 12px;
}
.piece-log .content .fa-long-arrow-right {
  margin: 0 5px;
}
.piece-log .content .collection {
  padding: 4px 10px;
  border-radius: 30px;
}
.piece-log .content .link:hover {
  text-decoration: underline;
}
.piece-log .log-meta {
  color: #999;
  font-size: 12px;
}
.piece-log .log-meta .wap-report-abuse {
  display: inline-block;
  visibility: hidden;
  margin-left: 15px;
}
.piece-log .log-meta .wap-report-abuse.reported {
  visibility: visible !important;
}
.piece-log .log-meta .wap-report-abuse.reported .btn-report-abuse {
  display: none;
}
.piece-log .log-meta .wap-report-abuse.reported .flag-reported {
  display: inline-block;
}
.piece-log .log-meta .wap-report-abuse .btn-report-abuse {
  display: inline-block;
  color: #999;
}
.piece-log .log-meta .wap-report-abuse .btn-report-abuse:hover {
  color: #1e88a8;
}
.piece-log .log-meta .wap-report-abuse .flag-reported {
  display: none;
}
.piece-logs-wap {
  display: none;
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  background-color: #ffffff;
  padding: 30px 25px 10px 25px;
  overflow: auto;
  border-radius: 5px;
}
.piece-logs-wap .subtitle {
  margin: 0 0 15px 0;
}
.piece-logs-wap .btn-close-logs-wap {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
  line-height: 1;
}
.piece-logs-wap .btn-close-logs-wap:hover {
  color: #999;
}
