.form-group-cover {
  margin: 10px 0 30px 0;
  text-align: center;
}
.form-group-cover .cover-wap {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.form-group-cover .cover-wap .cover {
  width: 80px;
  height: 80px;
}
.form-group-cover #btn-upload-cover {
  margin-top: 15px;
}
.form-group-cover .upload-error-info {
  display: none;
  padding-top: 10px;
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
}
